



{{ replicator }}
<!--ITEM-->
<div class="relative " x-data="{ open{{ index | add:1 }}: false }">

    <button type="button" class="w-full text-left" x-on:click="open{{ index | add:1 }} = ! open{{ index | add:1 }}"
        >
        <div class="flex items-center justify-between ">
            <div class="flex text-white items-center py-4 gap-x-3">
                <span class="theme-text title-30"><span>{{title}}</span>
            </div>

            <div class="ml-4 border border-transparent">
                <!--DOWN ICON-->
                <svg :class="open{{ index | add:1 }} ? 'hidden' : 'block transform rotate-90'" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.9023 16.8483L16.2596 20.48L17.383 21.6L23 16L17.3831 10.4L16.2597 11.52L20.0153 15.2644L9 15.2644V16.8483H19.9023Z"
                        fill="#F16B9B" />
                    <rect x="0.5" y="31.5" width="31" height="31" rx="15.5"
                        transform="rotate(-90 0.5 31.5)" stroke="white" />
                </svg>
                <!--UP ICON-->
                <svg :class="open{{ index | add:1 }} ? 'block transform -rotate-90' : 'hidden'" class="min-w-[32px]" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.9023 16.8483L16.2596 20.48L17.383 21.6L23 16L17.3831 10.4L16.2597 11.52L20.0153 15.2644L9 15.2644V16.8483H19.9023Z"
                        fill="#F16B9B" />
                    <rect x="0.5" y="31.5" width="31" height="31" rx="15.5"
                        transform="rotate(-90 0.5 31.5)" stroke="white" />
                </svg>
            </div>

        </div>
    </button>

    <div class="relative overflow-hidden transition-all max-h-0 duration-700 mt-4 text-white" x-ref="container{{ index | add:1 }}"
        x-bind:style="open{{ index | add:1 }} ? 'max-height: ' + $refs.container{{ index | add:1 }}.scrollHeight + 'px' : ''">
        <div class="pb-6  modalContent">
            {{ content }}
        </div>
    </div>

</div>
<!--END OF // ITEM-->
{{ /replicator }}

