<div class="md:absolute bg-shelf md:bg-none md:top-[417px] md:left-[105px] md:w-[480px] w-full md:h-[183px] flex md:flex-row flex-col flex-wrap "
    x-show="selected === 'option-0'"    >
    <div class="w-full md:w-1/2 flex flex-col items-center justify-end md:items-end mb-[-5px] md:mb-0">
        {{ nav :from="uri" }}
            {{ unless no_results }}
                <button class="relative flex mx-2  h-[14vw] md:h-[45px] "
                x-on:click="selected = 'option-{{index | add:1}}'">
                    {{if index == "0"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Purple.png" alt="">
                    {{ elseif index == "1" }}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Red.png" alt="">
                    {{elseif index == "2"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Blue.png" alt="">
                    {{elseif index == "3"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Beige.png" alt="">
                    {{/if}}
                    <div class=" absolute w-full h-full left-0 top-0 flex justify-center items-center text-[5.5vw] md:text-bookTitle font-Brixton_lead  ">
                        {{ title}}
                    </div>
                </button>
            {{ /unless }}
        {{ /nav }}
    </div>
    <div class="w-1/2 hidden md:flex flex-col items-end">
        <img class="absolute  bottom-0 right-[27px] w-[150px]" src="/assets/images/placeholders/Globe.png" alt="">
    </div>  
</div>

