    <div class="button_area absolute top-[-135vw] sm:top-[-120vw] md:top-[-530px] lg:top-auto lg:bottom-[156px] lg:left-[-290px] w-screen md:w-full lg:w-[300px] h-[133vw] sm:h-[110vw] md:h-[510px] lg:h-auto  flex flex-col-reverse lg:flex-col items-center justify-between">
    <button x-on:click="selected = 'option-0'"
    class=" flex-row self-baseline lg:self-auto items-center justify-center gap-x-2.5 flex-shrink-0 lg:mb-4 ml-[9%]  md:ml-[14%] lg:m-auto">
        <div
            class="btn cursor-pointer btnCircle btnBack group w-15 h-15 shadow-2xl">
            <svg class="shadow-xl" width="30" height="22" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
            </svg>
        </div>
    </button>

    <div style="letter-spacing: 2px;"
    class="flex lg:bg-purple  z-50 flex-col items-start md:items-center justify-start gap-y-2.5 flex-shrink-0 p-[15px] text-white rounded-2xl lgshadow-2xl font-Metropolis font-bold uppercase text-xxs 
    top-auto   lg:w-[320px] w-full px-7.5 md:px-0 relative">
    
    <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
        <div @click="showModal = true; document.body.classList.add('overflow-hidden');" type="button"
            class="bg-black rounded-full w-full cursor-pointer px-5 py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
            <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                fill="#B47ACA" />
            </svg>
            <span>Unit Introduction </span>
        </div>
        

        {{ partial:components/module_intro_modal sub_unit="true" titleone="Module 3 Unit 0{{index | add:1}}" smalltext="true" related_by_uri="/first-home-rule-bill" }}
    </div>
    
    <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
        <div @click="showModal = true; document.body.classList.add('overflow-hidden');" type="button"
            class="bg-black rounded-full w-full cursor-pointer px-5 py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                    fill="#B47ACA" />
            </svg>
            <span class="flex-gorw">Unit Timeline</span>
        </div>
        
        {{ partial:components/module_timeline sub_unit="true" titleone="Module 3 Unit 0{{index | add:1}}" smalltext="true"  }}

    </div>

  
   
    <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
        <button type="button" class="btn btnBlack group w-max px-5 " @click="showModal = true; document.body.classList.add('overflow-hidden');">
            <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path fill="#B47ACA" d="M19.447 5.345A3.27 3.27 0 0016.29 3a3.293 3.293 0 00-3.277 3h-2.025a3.297 3.297 0 00-3.284-3 3.268 3.268 0 00-3.151 2.345l-2.511 8.368A1.027 1.027 0 002 14v1a5.006 5.006 0 005.001 5 5.003 5.003 0 004.576-3h.846a5.003 5.003 0 004.576 3A5.006 5.006 0 0022 14.999V14c0-.098-.015-.194-.042-.287l-2.511-8.368zM7.001 18A3.005 3.005 0 014 15c0-.076.017-.147.022-.222A2.995 2.995 0 017 12a3 3 0 013 3v.009A3.004 3.004 0 017.001 18zm9.998 0A3.004 3.004 0 0114 15.009V15a3 3 0 016-.001A3.005 3.005 0 0116.999 18z"/></svg>
           
            Ulster-Scots Context
        </button>
        {{ partial:components/module_perspective_modal titleone="Ulster-Scots" titletwo="Context" }}
    </div>
    


</div>
 
</div>

