<div class="relative md:pt-20 lg:pt-0 theme-bg-dark bg-repeat  bg-left-top bg-cover  bg-book-bck flex justify-center items-end w-full" >
    <div class="relative w-full md:w-auto flex-col flex justify-end" x-data="{ selected: 'option-0' }">
        <img src="/assets/book_case/BookshelfEmpty.png" class="max-w-[680px] -bottom-1  hidden md:block" alt="">
        <img src="/assets/book_case/bck_book_top.png" class="w-full block md:hidden" alt="">
        {{ partial:components/books_module_shelf }}
        {{ partial:components/books_unit_shelf }}        
        
        
        
        
        
        <img src="/assets/book_case/bck_book_btm.png" class="w-full block  bottom-0 md:hidden" alt="">
    </div>
</div>


















