{{ nav :from="uri"}}
    {{ unless no_results }}
        <div class="relative md:absolute bg-shelf md:bg-none md:top-[417px] md:left-[105px] md:w-[480px] w-full md:h-[183px] flex md:flex-row flex-col flex-wrap "
            x-show="selected === 'option-{{index | add:1}}'"   >
            {{ partial:components/books_buttons }}
            <div class="absolute md:bottom-[328px] top-[-58vw] md:top-[-188px] md:top-auto left-[9.5vw] md:left-0 w-[82vw] md:w-[471px] h-[12.5vw] md:h-[44px] flex justify-center items-center bg-shelfdark md:bg-transparent ">
                <img class="hidden md:block w-full absolute left-0 top-0" src="/assets/book_case/bck_unit_title.png" alt="">
                <h3 class="absolute w-full h-full left-0 top-0 flex justify-center items-center  text-3xl font-Brixton_lead ">
                    <div class="text-white mr-2"> Unit {{if index < 10}}0{{/if}}{{ index | add:1 }}</div> <div>{{title}}</div>
                </h3>
            </div>
            <div class="w-full md:w-1/2 flex flex-col items-center justify-end md:items-end mb-[-5px] md:md-0">
                {{related_units limit="4"}}
                    <a href="{{url}}" class="relative flex mx-2  h-[14vw] md:h-[45px] ">
                        {{if index == "0"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Purple.png" alt="">
                        {{ elseif index == "1" }}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Red.png" alt="">
                        {{elseif index == "2"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Blue.png" alt="">
                        {{elseif index == "3"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Beige.png" alt="">

                        {{/if}}
                        <div class=" absolute w-full h-full left-0 top-0 flex justify-center items-center text-[5.5vw] md:text-bookTitle font-Brixton_lead  ">
                            {{if book_title}}{{book_title}}{{else}}{{ title}}{{/if}}
                        </div>
                    </a>
                {{/related_units}}
            </div>
            <div class="w-full md:w-1/2 flex flex-col items-center justify-end md:items-end mb-[-5px] md:md-0">
                {{related_units offset="4"}}
                    <a href="{{url}}"  class="relative flex mx-2  h-[14vw] md:h-[45px] ">
                        {{if index == "0"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Beige.png" alt="">
                        {{ elseif index == "1" }}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Blue.png" alt="">
                        {{elseif index == "2"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Red.png" alt="">
                        {{elseif index == "3"}}
                        <img class=" relative w-[70vw] md:w-full" src="/assets/book_case/Book-Purple.png" alt="">

                        {{/if}}
                        <div class=" absolute w-full h-full left-0 top-0 flex justify-center items-center text-[5.5vw] md:text-bookTitle font-Brixton_lead  ">
                            {{if book_title}}{{book_title}}{{else}}{{ title}}{{/if}}
                        </div>
                    </a>
                {{/related_units}}
                
            </div>
            
        </div>
        
    {{ /unless }}
{{ /nav }}