<div class="module_introduction_audio" x-data="{ open: false }">
    <audio id="player-{{index}}" src="{{ url }}">  </audio>

    <button @click="open = true"  x-show="!open" onclick="document.getElementById('player-{{index}}').play()" type="button" class="btn btnBlack group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4 ">
      <span class="w-3.5 block h-[11.45px] md:w-5 md:h-4">
        <svg class="theme-text" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.827.36a.318.318 0 0 1 .537.231v10.818a.317.317 0 0 1-.537.231L2.55 8.546H.318A.318.318 0 0 1 0 8.227V3.773c0-.176.142-.318.318-.318H2.55L5.827.36Z" />
          <path
            d="m7.375 4.67.454-.453a.323.323 0 0 1 .485.038A2.85 2.85 0 0 1 8.91 6a2.85 2.85 0 0 1-.595 1.745.323.323 0 0 1-.485.038l-.454-.453c-.104-.105-.132-.273-.045-.393a1.582 1.582 0 0 0 0-1.874c-.087-.12-.06-.288.045-.393Z" />
          <path
            d="M10.095 2.418a.318.318 0 0 0-.46-.007l-.45.45a.32.32 0 0 0-.008.439A4.118 4.118 0 0 1 10.182 6c0 1.03-.38 1.975-1.005 2.7a.32.32 0 0 0 .008.44l.45.45c.127.127.34.127.46-.008A5.387 5.387 0 0 0 11.455 6a5.387 5.387 0 0 0-1.36-3.582Z" />
          <path
            d="M11.435.61a.32.32 0 0 1 .46.005A7.925 7.925 0 0 1 14 6a7.925 7.925 0 0 1-2.105 5.385.32.32 0 0 1-.46.005l-.45-.45a.315.315 0 0 1-.005-.439 6.656 6.656 0 0 0 1.747-4.5 6.656 6.656 0 0 0-1.748-4.502.315.315 0 0 1 .006-.438l.45-.45Z" />
        </svg>
      </span>
      <span class="hidden md:block">play</span> audio {{count}} - {{index}} {{if count > 1}}{{index | add:1}}{{/if}}
    </button>
    <button type="button" class="btn btnBlack group" @click="open = false" x-show="open"   onclick="document.getElementById('player-{{index}}').pause()">
          <svg class="theme-text" width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M.43.313h5.25v14.374H.43V.313zm8.75 14.374V.313h5.25v14.374H9.18z" />
          </svg>
        <span class="hidden md:block">pause</span> audio
    </button>
</div>