<footer>
    <div class="w-full border-t border-opacity-30 theme-mod-1">
        <div class="px-7.5 py-20 m-auto gap-y-10 2xl:px-25 2xl:max-w-screen-2xl">
            <div class="flex flex-col items-center justify-between m-auto gap-y-30 md:flex-row">

                <div class="flex-grow flex flex-col gap-y-7.5">

                    <span
                        class="md:w-[285px] flex flex-row gap-x-2.5 items-center font-bold leading-normal tracking-widest text-white uppercase font-Metropolis text-xxs">
                        <span class="flex-shrink-0">brought to you by</span>
                        <span class="theme-bg w-full block h-[1px]"></span>
                    </span>

                    <div class="flex flex-row flex-wrap gap-y-3.5 items-center gap-x-7.5 justify-start w-full relative">
                        {{ general_site_details:partners }}
                        <a href="{{ link }}"><img src="{{ logo }}{{ url }}{{ /logo }}"></a>
                        {{ /general_site_details:partners }}
                        <div class="absolute right-0  ">
                            <a href="/glossary" class="text-black theme-bg text-xl  md:text-3xl leading-none font-Brixton_lead whitespace-nowrap py-3 px-5">Glossary</a>
                        </div>
                    </div>


                </div>

                <div class="w-full md:w-[285px] flex flex-col gap-y-7.5 hidden">

                    <span
                        class="flex flex-row gap-x-2.5 items-center font-bold leading-normal tracking-widest text-white uppercase font-Metropolis text-xxs">
                        <span class="flex-shrink-0">keep in touch</span>
                        <span class="theme-bg w-full block h-[1px]"></span>
                    </span>

                    <div class="flex flex-row gap-x-2.5">
                        <a href="{{ general_site_details:insta }}" target="_blank" class="btn btnCircle theme-bg btnSocial">
                            <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22.5 0h-15C3.375 0 0 3.374 0 7.5v15C0 26.625 3.375 30 7.5 30h15c4.125 0 7.5-3.375 7.5-7.5v-15C30 3.374 26.625 0 22.5 0ZM15 21.25a6.25 6.25 0 1 1 0-12.5 6.25 6.25 0 0 1 0 12.5Zm8.125-12.5a1.874 1.874 0 1 1 0-3.75 1.874 1.874 0 0 1 0 3.75Z" />
                            </svg>
                        </a>

                        <a href="{{ general_site_details:youtube }}" target="_blank" class="btn btnCircle theme-bg btnSocial">
                            <svg width="30" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M28.725 2.675C27.911 1.228 27.028.961 25.23.86 23.434.738 18.917.688 15.004.688c-3.92 0-8.44.05-10.234.17-1.794.103-2.68.368-3.5 1.817C.43 4.121 0 6.611 0 10.995V11.008c0 4.365.431 6.874 1.27 8.305.82 1.447 1.704 1.71 3.498 1.832 1.796.105 6.315.166 10.236.166 3.913 0 8.43-.061 10.228-.165 1.798-.121 2.681-.384 3.495-1.831.846-1.431 1.273-3.94 1.273-8.305v-.015c0-4.385-.427-6.875-1.275-8.321ZM11.25 16.625V5.375L20.625 11l-9.375 5.625Z" />
                            </svg>
                        </a>

                        <a href="{{ general_site_details:facebook }}" target="_blank" class="btn btnCircle theme-bg btnSocial">
                            <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M25.605 0H4.395A4.4 4.4 0 0 0 0 4.395v21.21A4.4 4.4 0 0 0 4.395 30h8.847V19.395H9.727V14.12h3.515v-3.574a5.28 5.28 0 0 1 5.274-5.274h5.332v5.274h-5.332v3.574h5.332l-.88 5.274h-4.452V30h7.09A4.4 4.4 0 0 0 30 25.605V4.395A4.4 4.4 0 0 0 25.605 0Z" />
                            </svg>
                        </a>
                    </div>

                </div>
            </div>


        </div>
    </div>


</footer>