
{{ if type == "text" }}
    {{ text }}
{{ elseif type == "image" }}
    <img src="{{glide:image width='800'}}" class="w-full"/>
{{ elseif type == "video" }}

  <div class=" w-full">
      {{ if video | is_embeddable }}
          <!-- Youtube and Video -->
          <div class="video-container">
            <iframe src="{{ video | embed_url }}" class="w-full"></iframe>
          </div>
      {{ else }}
      <div class="video-container">
          <!-- Other HTML5 video types -->
          <video src="{{ upload_video | embed_url }}" class="w-full"></video>
        </div>
      {{ /if }}
 
  </div>
{{ elseif type == "related_enteries" }}
{{if related_unites_module_title}}
<h2>{{related_unites_module_title}}</h2>
{{/if}}
<div class="flex flex-row flex-wrap">
    {{related_units_modules}}
    <a href="" class="bg-turquoise  text-white font-Brixton_lead uppercase text-white text-xl mr-4 mb-4 py-2 px-6 rounded-full theme-bg ">{{title}}</a>
    {{/related_units_modules}}
</div>

{{ elseif type == "notes" }}  
    <div class="notes">
        {{notes}}
    </div>
{{ /if }}
