<header>
    <div class="relative theme-mod-1">
        <div class="relative z-50 flex items-center justify-between px-5 md:px-7.5 py-5 m-auto ">
            <div class="flex justify-start w-1/3">
                <a href="/"
                    class="block text-2xl leading-5 text-right text-white uppercase md:leading-8 md:text-4xl font-Brixton_lead theme-">
                    making<br>
                    <span class="theme-text">northern<br>
                        ireland</span>
                </a>
            </div>



            <div class="" :class="isMobileNavOpen ? 'hidden md:block' : 'block'">

                <button class="px-4 md:px-7.5 btn btnBorder group"
                    x-on:click.prevent="isMobileNavOpen = !isMobileNavOpen"
                    x-bind:aria-label="isMobileNavOpen ? 'Close main menu' : 'Main menu'" aria-label="Main menu"
                    x-bind:aria-expanded="isMobileNavOpen">

                    <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.42 0C1.388 0 .55.855.55 1.905S1.387 3.81 2.42 3.81s1.871-.854 1.871-1.905C4.291.855 3.451 0 2.421 0Z" />
                        <path
                            d="M8.476 0C7.444 0 6.605.855 6.605 1.905s.84 1.905 1.87 1.905c1.033 0 1.872-.854 1.872-1.905C10.347.855 9.507 0 8.476 0Z" />
                        <path
                            d="M16.5 1.905c0 1.05-.84 1.905-1.871 1.905-1.031 0-1.871-.854-1.871-1.905 0-1.05.839-1.905 1.871-1.905S16.5.855 16.5 1.905Z" />
                        <path
                            d="M2.371 9.915c1.032 0 1.872-.855 1.872-1.905 0-1.051-.84-1.906-1.872-1.906C1.34 6.104.5 6.96.5 8.01c0 1.05.84 1.905 1.871 1.905Z" />
                        <path
                            d="M10.298 8.01c0 1.05-.84 1.905-1.871 1.905-1.032 0-1.871-.855-1.871-1.905 0-1.051.839-1.906 1.87-1.906 1.033 0 1.872.855 1.872 1.906Z" />
                        <path
                            d="M14.581 9.915c1.032 0 1.871-.855 1.871-1.905 0-1.051-.84-1.906-1.871-1.906-1.032 0-1.872.855-1.872 1.906 0 1.05.84 1.905 1.872 1.905Z" />
                        <path
                            d="M.543 14.095c0-1.05.84-1.905 1.871-1.905 1.032 0 1.871.854 1.871 1.905 0 1.05-.839 1.905-1.87 1.905-1.032 0-1.872-.855-1.872-1.905Z" />
                        <path
                            d="M8.47 12.19c-1.032 0-1.871.854-1.871 1.905 0 1.05.839 1.905 1.871 1.905s1.871-.854 1.871-1.905c0-1.05-.84-1.905-1.87-1.905Z" />
                        <path
                            d="M12.752 14.095c0-1.05.84-1.905 1.871-1.905 1.032 0 1.871.854 1.871 1.905 0 1.05-.839 1.905-1.87 1.905-1.032 0-1.872-.855-1.872-1.905Z" />
                    </svg>
                    <span class="hidden md:block">Select A module</span>
                </button>


            </div>



            <div class="flex-shrink-0 w-1/3 font-bold leading-none tracking-widest uppercase font-Metropolis text-xxs"
                :class="isMobileNavOpen ? '' : 'hidden md:block'">

                <a href="/about" class="flex flex-row items-center justify-end gap-x-2.5"
                    :class="!isMobileNavOpen ? '' : 'hidden'">
                    <span class="theme-bg w-10 block h-[1px]"></span>
                    <span class="text-white theme-text-link">About the project</span>
                </a>

                <!--CLOSE BUTTON WHEN NAVIGATION IS ACTIVE-->


                <button @click.prevent="isMobileNavOpen = !isMobileNavOpen" :class="isMobileNavOpen ? '' : 'md:hidden'"
                    class="absolute z-50 p-3 text-white top-8 md:top-12 right-6" x-bind:aria-label="'Close menu'"
                    aria-label="" x-bind:aria-expanded="isMobileNavOpen">
                    <div class="w-full flex flex-row items-center justify-end gap-x-2.5">
                        <span class="theme-bg w-10 block h-[1px]"></span>
                        <span
                            class="font-bold leading-none tracking-widest text-white uppercase theme-text-link font-Metropolis text-xxs">Close</span>
                    </div>
                </button>


            </div>

        </div>

        <div class="fixed top-0 left-0 z-40 flex flex-col w-full h-full" x-show="isMobileNavOpen"
            @click.away="isMobileNavOpen = false" x-transition:enter="transition ease-linear duration-500 "
            x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-out duration-500 " x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0">



            <div
                class="flex flex-col justify-start flex-grow mt-25 mt:mt-[136px] bg-black md:justify-center p-7.5 pb-20 md:px-15 lg:p-0 overflow-y-auto">

                <ul class="nav">

                    {{ nav:main_nav }}
                    <li class="relative flex justify-start md:justify-center navItem">
                        <a class="flex justify-start items-center gap-x-4 md:gap-x-12.5 group  w-8/12" href="{{ url }}">
                            <span class="{{ if module_number | contains:1 }}text-turquoise {{ elseif module_number | contains:2 }} text-pink {{ elseif module_number | contains:3 }} text-purple {{ /if }} title-number">{{ module_number }}</span>
                            <span class="z-10 text-white text-3xl sm:text-5xl md:text-7xl">{{ title }}</span>

                            <span
                                class="absolute z-0 transition duration-500 ease-in-out right-2 -top-6 md:transform md:-translate-y-1/2 md:opacity-0 theme-bg md:-right-40 md:top-1/2 group-hover:opacity-100 md:group-hover:-translate-x-50">

                                <span class="w-30 block md:w-[360px] md:h-[372px]">
                                    {{ module_thumbnail }}
                                    <img class="w-full md:w-[360px] md:h-full" src="{{ url }}">
                                    {{ /module_thumbnail }}
                                </span>
                            </span>
                        </a>
                    </li>
                    {{ /nav:main_nav }}


                </ul>

                <div
                    class="font-bold leading-none tracking-widest text-white uppercase md:hidden font-Metropolis text-xxs">

                    <a href="about.html"
                        class="absolute bottom-8 right-8 flex flex-row items-center justify-end gap-x-2.5">
                        <span class="theme-bg w-10 block h-[1px]"></span>
                        <span>About the project</span>
                    </a>


                </div>

            </div>


        </div>
    </div>

</header>