<div class="
cursor-pointer 
z-100 
fixed 
top-2 
right-2
md:top-12 
md:right-12 
flex 
items-center
justify-end
gap-x-2.5 
uppercase 
font-Metropolis 
text-xxs 
font-bold
p-4
md:pr-6
theme-bg
group"
@click="showModal = false"
x-show="showModal">
    
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span class="text-white hidden md:block transition duration-300 group-hover:text-black">Close</span>
</div>

<!--MODAL BACKDROP-->
<div class="overflow-auto transform xl:-left-0 -top-0 z-50" style="background-color: rgb(0, 0, 0)" x-show="showModal"
    :class="{ 'fixed top-0 w-screen h-screen inset-0 z-10 flex items-center justify-center': showModal }">



    <!--MODAL INNER-->
    <div class="w-11/12 md:w-10/12 xl:w-8/12 py-4 text-left absolute top-24" x-show="showModal" @click.away="showModal = false; document.body.classList.remove('overflow-hidden');"
        x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in duration-300"
        x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">

        <!--TIMELINE-->
        <div class="">

            <img class="w-full " src="{{ image }}">


        </div>


    </div>
    <!--END OF // MODAL INNER-->
</div>
<!--END OF // MODAL BACKDROP-->