<!--MAP-->
<div class="relative w-full overflow-hidden md:overflow-visible md:pb-20 theme-bg">
    <div class="md:px-7.5 m-auto 2xl:px-25 2xl:max-w-screen-2xl h-[440px] md:h-auto">
        <div class="relative h-[984px] bg-center m-auto
            scale-40 -translate-y-72
            md:scale-75 left-1/2 transform -translate-x-1/2 md:-translate-y-28
            lg:translate-x-0 lg:translate-y-0 lg:left-0 lg:scale-100 w-[1032px]"
            style="background-image: url(assets/images/map/map-ulster.png);">

            <!--de latocnaye-->
            <div class="map-marker w-[273px] -top-[33px] right-[189px]">
                <a class="group" href="{{ title | slugify }}/de-latocnaye">
                    <img class="group-hover:scale-110" src="assets/images/map/Frenchman.png">

                    <span class="map-tooltip top-[49px] right-[-16px] group-hover:opacity-100">
                        <p>1. De Latocnaye</p>
                    </span>
                </a>
            </div>


            <!--Derry - lecky & the laggan-->
            <div class="map-marker z-20 w-[218px] top-[234px] left-[306px]">
                <a class="group" href="{{ title | slugify }}/lecky-and-the-laggan">
                    <img class="group-hover:scale-110" src="assets/images/map/Derry.png">

                    <span class="map-tooltip top-[-58px] right-[-116px] group-hover:opacity-100">
                        <p>9. lecky & the laggan</p>
                    </span>
                </a>
            </div>



            <!--CHICKEN - mici mac gabhan-->
            <div class="map-marker z-10 w-[208px] top-[182px] left-[157px]">
                <a class="group" href="{{ title | slugify }}/mici-mac-gabhann">
                    <img class="group-hover:scale-110" src="assets/images/map/Chicken.png">

                    <span class="map-tooltip top-[-50px] left-[-54px] group-hover:opacity-100">
                        <p>5. Micí Mac Gabhann</p>
                    </span>
                </a>
            </div>



            <!--Cart - john harrison-->
            <div class="map-marker z-10 w-[254px] top-[332px] left-[341px]">
                <a class="group" href="{{ title | slugify }}/john-harrison">
                    <img class="group-hover:scale-110" src="assets/images/map/Cart.png">

                    <span class="map-tooltip top-[-16px] right-[-45px] group-hover:opacity-100">
                        <p>7. john harrison</p>
                    </span>
                </a>
            </div>


            <!--Cottonmill - James glassford-->
            <div class="map-marker z-10 w-[181px] top-[314px] right-[85px]">
                <a class="group" href="{{ title | slugify }}/james-glassford">
                    <img class="group-hover:scale-110" src="assets/images/map/oatmeal-cottonmill.png">

                    <span class="map-tooltip top-[7px] right-[-30px] md:right-[-82px] group-hover:opacity-100">
                        <p>3. James glassford</p>
                    </span>
                </a>
            </div>


            <!--Bell -  the scottish irish congress-->
            <div class="map-marker z-10 w-[150px] top-[445px] left-[132px]">
                <a class="group" href="{{ title | slugify }}/the-scotch-irish-congress">
                    <img class="group-hover:scale-110" src="assets/images/map/Bell.png">

                    <span class="map-tooltip top-[-59px] left-[-60px] group-hover:opacity-100">
                        <p>8. the Scotch-Irish congress</p>
                    </span>
                </a>
            </div>


            <!--Dogs - lynn doyle-->
            <div class="map-marker z-10 w-[442px] bottom-[305px] right-[184px]">
                <a class="group" href="{{ title | slugify }}/lynn-doyle">
                    <img class="group-hover:scale-110" src="assets/images/map/Dogs.png">

                    <span class="map-tooltip top-[-58px] right-[128px] group-hover:opacity-100">
                        <p>10. lynn doyle</p>
                    </span>
                </a>

            </div>


            <!--Horse & Cart - dr. john gamble-->
            <div class="map-marker z-10 w-[353px] bottom-[80px] left-[130px]">
                <a class="group" href="{{ title | slugify }}/dr-john-gamble">
                    <img class="group-hover:scale-110" src="assets/images/map/HorseandCart.png">

                    <span class="map-tooltip top-[27px] right-[22px] group-hover:opacity-100">
                        <p>2. dr. john gamble</p>
                    </span>
                </a>
            </div>



            <!--SarkClergy - t.c.-->
            <div class="map-marker z-10 w-[291px] bottom-[36px] right-[240px]">
                <a class="group" href="{{ title | slugify }}/t-c">
                    <img class="group-hover:scale-110" src="assets/images/map/SarkClergy.png">

                    <span class="map-tooltip bottom-[60px] right-[-30px] group-hover:opacity-100">
                        <p>6. t.c.</p>
                    </span>
                </a>
            </div>


            <!--Bible - the halls-->
            <div class="map-marker z-10 w-[209px] bottom-[180px] right-[71px]">
                <a class="group" href="{{ title | slugify }}/the-halls">
                    <img class="group-hover:scale-110" src="assets/images/map/Bible.png">

                    <span class="map-tooltip top-[-53px] right-[-30px] group-hover:opacity-100">
                        <p>4. the halls</p>
                    </span>
                </a>
            </div>



        </div>

    </div>
</div>