{{if next_module}}   
{{next_module}} 
    <div class="w-full bg-black">
        <div class="px-7.5 m-auto 2xl:px-25 2xl:max-w-screen-2xl">
            <div class="flex flex-col md:flex-row md:items-center md:justify-start gap-y-7.5 gap-x-30 py-25">
                <div class="md:flex-shrink-0 w-1/4">
                    <span
                        class="w-1/2 md:w-[155px] flex flex-row gap-x-2.5 items-center font-bold leading-normal tracking-widest text-white uppercase font-Metropolis text-xxs">
                        <span class="theme-bg w-full block h-[1px]"></span>
                        <span class="flex-shrink-0">Next module</span>
                    </span>
                </div>
                <div class="flex flex-col justify-start max-w-xl gap-x-2.5 md:gap-x-5 flex-grow">
                    <span class="leading-none title-number theme-text">{{ module_number }}</span>
                    <h2 class="text-6xl text-white leading-13 xl:leading-16 font-Brixton_lead xl:text-7xl">{{ title }}</h2>
                    <a href="{{url}}" class="mt-10 btn group btnCircle theme-bg btnNextMod">
                        <svg class="group-hover:text-white" width="44" height="32" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M23.524 4.8 27.75.588 43.21 16l-15.46 15.412-4.224-4.212 8.386-8.36H.79v-5.96h30.837L23.524 4.8Zm10.523 9.08H1.792v3.96H34.33l-9.389 9.36 2.808 2.8 14.043-14L27.749 2l-2.808 2.8 9.107 9.08Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/next_module}} 
{{/if}}

 