<div class="w-full theme-bg-dark py-7.5 px-5 h-[72px]">
    <div
        class="flex flex-row items-center justify-center gap-x-2.5 text-white font-bold leading-normal tracking-widest uppercase font-Metropolis text-xxxs">
        <a href="#" class="theme-text-link">module {{ module_number }}</a>
        <span class="w-1 h-1 rounded theme-bg"></span>
        <span class="hidden md:block">{{ title }}</span>
    </div>
</div>
