<div class="w-full {{if !bg_remove}}theme-bg{{/if}}">
    <div class="px-7.5 m-auto 2xl:px-25 2xl:max-w-screen-2xl">
        <div class="flex flex-col md:items-start lg:items-center lg:justify-between gap-y-7.5 py-10 md:py-20 lg:flex-row">

            <div class="flex flex-col lg:flex-row justify-start max-w-xl xl:max-w-3xl gap-x-2.5 md:gap-x-5">
                <span class="text-white title-number">{{ module_number }}</span>
                <div class="flex flex-col gap-y-7.5">
                    <h1 class="text-black title-140">{{ title }}</h1>
                    <p class="leading-loose text-black">{{ module_subtext }}</p>
                </div>
            </div>

            <div class="flex flex-col gap-y-5 items flex-wrap items-start lg:items-end">
                
                {{if module_intro_content && module_number!="3" }}
                <button type="button" class="btn btnBlack group w-max" @click="showModal = true; document.body.classList.add('overflow-hidden');">
                    <svg class="theme-text" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 0C3.606 0 0 3.606 0 8s3.606 8 8 8 8-3.606 8-8-3.606-8-8-8Zm0 13.156a.939.939 0 0 1 0-1.875.939.939 0 0 1 0 1.875Zm1.661-5.231c-.467.343-.723.782-.723 1.234v1.185H7.062V9.16c0-1.051.543-2.052 1.49-2.747a.939.939 0 1 0-1.49-.757H5.188A2.816 2.816 0 0 1 8 2.844a2.816 2.816 0 0 1 2.813 2.812c0 .892-.43 1.74-1.152 2.269Z" />
                    </svg>
                    MODULE INTRODUCTION
                </button>
                {{/if}}


                
                {{ module_introduction_audio }}
                {{ partial:components/btn_audio }}
                {{ /module_introduction_audio }}

                {{ if module_number!="3" }}  
                <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
                    <button @click="showModal = true; document.body.classList.add('overflow-hidden');"  type="button" class="btn btnBlack group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4 ">
                      <span class="w-3.5 block h-[13.18px] md:w-[17px] md:h-4">
                        <svg class="theme-text" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M14 5.483v3.034h-2.234v2.387c.517.203.884.706.884 1.294 0 .767-.623 1.39-1.39 1.39-.766 0-1.39-.623-1.39-1.39 0-.588.368-1.091.885-1.294V8.517H6.373v2.387c.517.203.884.706.884 1.294 0 .767-.623 1.39-1.39 1.39-.766 0-1.39-.623-1.39-1.39 0-.588.368-1.091.885-1.294V8.517H0V5.483h2.665V3.096a1.392 1.392 0 0 1-.884-1.294c0-.767.623-1.39 1.39-1.39.766 0 1.39.623 1.39 1.39 0 .588-.368 1.091-.885 1.294v2.387h4.382V3.096a1.392 1.392 0 0 1-.884-1.294c0-.767.624-1.39 1.39-1.39.766 0 1.39.623 1.39 1.39 0 .588-.367 1.091-.884 1.294v2.387H14Z" />
                        </svg>
                      </span>
                      Timeline
                    </button>
                      {{ partial:components/module_timeline }}
                </div>
                {{/if}}

        

              <a href="/glossary" class="btn btnBlack group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4">
                <span class="w-3.5 block h-[16px] md:h-[21px] md:w-[21px] ">
                  <svg xmlns="http://www.w3.org/2000/svg" class="theme-text" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                  </svg>
                </span>
                Glossary
            </a>

                <a download href="{{ resources }}" class="btn btnBlack group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4">
                    <span class="w-3.5 block h-[10.46px] md:w-[21px] md:h-4">
                      <svg class="theme-text" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m7 8.512-4.53-2.21v2.917L7 11.231l4.53-2.012V6.302L7 8.512Z" />
                        <path d="M14 4.184 7 .769 0 4.184l7 3.414 5.352-2.61v3.039h.821v-3.44L14 4.184Z" />
                      </svg>
                    </span>
                    learning resources
                </a>
            </div>
        </div>    
    </div>
</div>
