    <!--MODAL BACKDROP  -->
    <div class="
    cursor-pointer 
    z-100 
    fixed 
    top-2 
    right-2
    md:top-12 
    md:right-12 
    flex 
    items-center
    justify-end
    gap-x-2.5 
    uppercase 
    font-Metropolis 
    text-xxs 
    font-bold
    p-4
    md:pr-6
    theme-bg
    group"
    @click="showModal = false"
    x-show="showModal">
        
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="text-white hidden md:block transition duration-300 group-hover:text-black">Close</span>
    </div>
    
    <div class="fixed top-0 left-0 w-screen h-screen justify-center flex overflow-auto transform z-50" style="background-color: rgb(0, 0, 0)" x-show="showModal"
        :class="{ '  z-10  ': showModal }">
   


        <!--MODAL INNER-->
        <div class="w-11/12 md:w-8/12 pt-40 text-left" x-show="showModal" @click.away="showModal = false; document.body.classList.remove('overflow-hidden');"
            x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in duration-300"
            x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">

            <div class="w-full flex flex-col justify-center pb-80 items-center">
                <div class=" flex flex-col justify-center  items-center mb-20">

                    {{if titleone}}
                    <h1 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 {{if smalltext}} {{else}}{{if smalltext}} {{else}}lg:text-11xl {{/if}} {{/if}} font-Brixton_lead theme-text ">
                        {{ titleone }}
                    </h1>
                    {{else}}
                    <h1 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 {{if smalltext}} {{else}}lg:text-11xl {{/if}} font-Brixton_lead theme-text">
                        Module {{ module_number }}
                    </h1>
                    {{/if}}
                    {{if titletwo}}
                    <h1 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 {{if smalltext}} {{else}}lg:text-11xl {{/if}} font-Brixton_lead ">
                        {{titletwo}}
                    </h1>
                    {{else}}
                    <h1 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl  font-Brixton_lead ">
                        Introduction
                    </h1>
                    {{/if}}

                </div>
                <div class="modalContent md:mx-20 w-full text-white md:w-[668px]">
             
                    
                    {{ ulster-scots_perspective }} 

                    
                </div>
            </div>


        </div>
        <!--END OF // MODAL INNER-->
    </div>
    <!--END OF // MODAL BACKDROP-->