

<div class="px-7.5 m-auto 2xl:px-25 2xl:max-w-screen-2xl ">

        <div class="flex flex-col md:flex-row md:items-center md:justify-start gap-y-7.5 gap-x-30 py-25">

            <div class="md:flex-shrink-0  w-1/4">
                <span
                    class="w-1/2 md:w-[200px] flex flex-row gap-x-2.5 items-center font-bold leading-normal tracking-widest text-white uppercase font-Metropolis text-xxs">
                    <span class="theme-bg w-full block h-[1px]"></span>
                    <span class="flex-shrink-0">learning activity</span>
                </span>
            </div>

            <div class="flex flex-grow ">
                <!--KEY QUESTIONS-->
                <div class="flex flex-col md:flex-row justify-start  md:max-w-3xl gap-x-2.5 md:gap-x-5 pb-20 ">
                    <div class="flex flex-col gap-y-2 w-full">
                        <h3 class="text-6xl text-white leading-13 xl:leading-16 theme-text md:text-7xl font-Brixton_lead mb-8 md:mb-0"><span class="text-white">Key</span> Questions</h3>

                    
                        {{ key_questions }}
                        <!--ITEM-->
                        <div class="relative " x-data="{ open{{ index | add:1 }}: false }">

                            <button type="button" class="w-full text-left" x-on:click="open{{ index | add:1 }} = ! open{{ index | add:1 }}"
                                >
                                <div class="flex items-center justify-between ">
                                    <div class="flex text-white items-center py-4 gap-x-3">
                                        <span class="theme-text title-30">{{ if index < 9 }}0{{ index | add:1 }}{{ else }}{{ index | add:1 }}{{ /if }}</span><span>{{question}}</span>
                                    </div>

                                    <div class="ml-4 border border-transparent">
                                        <!--DOWN ICON-->
                                        <svg :class="open{{ index | add:1 }} ? 'hidden' : 'block transform rotate-90'" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.9023 16.8483L16.2596 20.48L17.383 21.6L23 16L17.3831 10.4L16.2597 11.52L20.0153 15.2644L9 15.2644V16.8483H19.9023Z"
                                                fill="#F16B9B" />
                                            <rect x="0.5" y="31.5" width="31" height="31" rx="15.5"
                                                transform="rotate(-90 0.5 31.5)" stroke="white" />
                                        </svg>
                                        <!--UP ICON-->
                                        <svg :class="open{{ index | add:1 }} ? 'block transform -rotate-90' : 'hidden'" class="min-w-[32px]" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.9023 16.8483L16.2596 20.48L17.383 21.6L23 16L17.3831 10.4L16.2597 11.52L20.0153 15.2644L9 15.2644V16.8483H19.9023Z"
                                                fill="#F16B9B" />
                                            <rect x="0.5" y="31.5" width="31" height="31" rx="15.5"
                                                transform="rotate(-90 0.5 31.5)" stroke="white" />
                                        </svg>
                                    </div>

                                </div>
                            </button>

                            <div class="relative overflow-hidden transition-all max-h-0 duration-700 mt-4 text-white" x-ref="container{{ index | add:1 }}"
                                x-bind:style="open{{ index | add:1 }} ? 'max-height: ' + $refs.container{{ index | add:1 }}.scrollHeight + 'px' : ''">
                                <div class="pb-6 px-6 faqContent">
                                    {{ answer }}
                                    {{ if type == "text" }}
                                        {{ text }}
                                    {{elseif type == "add_audio"}}

                                        {{ audio_file }}
                                        <div class="pb-7.5">
                                        {{ partial:components/btn_audio :index="id" }}
                                        </div>
                                        {{ /audio_file }}
                                        

                                    {{ /if }}
                                    {{ /answer }}
                                </div>
                            </div>

                        </div>
                        <!--END OF // ITEM-->
                        {{ /key_questions }}
                        

                    </div>

                </div>
                <!--END OF // KEY QUESTIONS-->
            </div>

        </div>
    
</div>