<div class="
cursor-pointer 
z-100 
fixed 
top-2 
right-2
md:top-12 
md:right-12 
flex 
items-center
justify-end
gap-x-2.5 
uppercase 
font-Metropolis 
text-xxs 
font-bold
p-4
md:pr-6
theme-bg
group"
@click="showModal = false"
x-show="showModal">
    
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6  " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <span class="text-white hidden md:block transition duration-300 group-hover:text-black">Close</span>
</div>

<!--MODAL BACKDROP-->
<div class="overflow-auto transform xl:-left-0 -top-0 z-50" style="background-color: rgb(0, 0, 0)" x-show="showModal"
    :class="{ 'fixed top-0 w-screen h-screen inset-0 z-10 flex items-center justify-center': showModal }">



    <!--MODAL INNER-->
    <div class="w-11/12 md:w-8/12 py-4 text-left absolute top-24" x-show="showModal" @click.away="showModal = false; document.body.classList.remove('overflow-hidden');"
        x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in duration-300"
        x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">

        <!--TIMELINE-->
        <div class="text-white">

            <div class="w-full bg-secondary">

                <div class="px-5 pb-20 m-auto xl:px-30 2xl:max-w-screen-2xl ">

                    <div class="text-left md:text-center">


                        {{if titleone}}
                        <h2 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 {{if smalltext}} {{else}}{{if smalltext}} {{else}}lg:text-11xl {{/if}} {{/if}} font-Brixton_lead theme-text ">
                            {{ titleone }} {{if parent_module == "true"}}{{parent_module}}{{unit_number}}{{/parent_module}}{{/if}}
                        </h2>
                        {{else}}
                        <h2 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 {{if smalltext}} {{else}}lg:text-11xl {{/if}} font-Brixton_lead theme-text">
                            Module {{ module_number }}
                        </h2>
                        {{/if}}

                        
                        <h3 class="text-white uppercase leading-19 text-8xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl font-Brixton_lead">
                            Timeline
                        </h3>
                        
                        <!--TIMELINE-->
                        <div class="container w-full h-full mx-auto text-white mt-12">
                            <div class="relative h-full overflow-hidden">
                                <div
                                    class="absolute left-0 h-full border border-white border-opacity-40 lg:left-1/2 mb-">
                                </div>

                                <ul class="timeline">
                                    {{if parent_module == "true"}}
                                    {{parent_module}}
                                        {{ timeline_items }}
                                        <li>
                                            <div class="lg:w-1/2">
                                                <div class="flex flex-col gap-y-2.5">
                                                    <h2 class="theme-text uppercase leading-19 text-9xl font-Brixton_lead">{{ year }}</h2>
                                                    {{ content }}
                                                </div>

                                                <!--SAME SIDE ITEM 2-->
                                                {{ additional_items }}
                                                <div class="flex flex-col gap-y-2.5">
                                                    <h4 class="theme-text uppercase leading-19 text-5xl font-Brixton_lead">{{ year }}</h4>
                                                    {{ content }}
                                                </div>
                                                {{ /additional_items }}
                                            </div>
                                        </li>
                                        {{ /timeline_items }}
                                    {{/parent_module}}
                                    {{elseif sub_unit == "true"}}
                                        {{ timeline_items }}
                                        <li>
                                            <div class="lg:w-1/2">
                                                <div class="flex flex-col gap-y-2.5">
                                                    <h2 class="theme-text uppercase leading-19 text-9xl font-Brixton_lead">{{ year }}</h2>
                                                    {{ content }}
                                                </div>

                                                <!--SAME SIDE ITEM 2-->
                                                {{ additional_items }}
                                                <div class="flex flex-col gap-y-2.5">
                                                    <h4 class="theme-text uppercase leading-19 text-5xl font-Brixton_lead">{{ year }}</h4>
                                                    {{ content }}
                                                </div>
                                                {{ /additional_items }}
                                            </div>
                                        </li>
                                        {{ /timeline_items }}
                                    {{else}}
                                        {{ parent }}
                                            {{ timeline_items }}
                                            <li>
                                                <div class="lg:w-1/2">
                                                    <div class="flex flex-col gap-y-2.5">
                                                        <h2 class="theme-text uppercase leading-19 text-9xl font-Brixton_lead">{{ year }}</h2>
                                                        {{ content }}
                                                    </div>

                                                    <!--SAME SIDE ITEM 2-->
                                                    {{ additional_items }}
                                                    <div class="flex flex-col gap-y-2.5">
                                                        <h4 class="theme-text uppercase leading-19 text-5xl font-Brixton_lead">{{ year }}</h4>
                                                        {{ content }}
                                                    </div>
                                                    {{ /additional_items }}
                                                </div>
                                            </li>
                                            {{ /timeline_items }}
                                        {{ /parent }}
                                    {{/if}}

                                </ul>




                            </div>
                        </div>
                        




                    </div>

                </div>

            </div>

        </div>


    </div>
    <!--END OF // MODAL INNER-->
</div>
<!--END OF // MODAL BACKDROP-->