


            <!--BOOKS BG-->
            <div id="booksBG"
                style="background-image: url('/assets/images/placeholders/booksbg.png'); background-position: center;"
                class="w-screen h-1/2 md:h-screen max-h-[948px] relative  w-min-max">


                <!--DESKTOP VIEW-->
                <!--BOOKSHELF-->
                <div style="background-image: url('/assets/images/placeholders/BookshelfMinusGlobe.png'); background-size: contain; background-position: center; background-repeat: no-repeat;"
                    class="h-screen w-screen hidden md:flex justify-center relative ">



                    <!--BOOKS WRAPPER-->
                    <div style="margin-left: -10%; min-width:995px; max-width:679px; bottom: 33%;"
                        class="absolute w-full h-60 flex flex-col flex-wrap justify-end">

                        <!--GLOBE-->
                        <img style="width:13%; right: 22%;" class="absolute"
                            src="/assets/images/placeholders/Globe.png" alt="">
                        <!--END OF // GLOBE-->



                        <!--BOOK - FIRST HOME RULE BILL-->
                        <div style="max-height: min-content;" class="unit cursor-pointer -mt-2">
                            <div class="unit1Book relative flex justify-center items-center w-full">
                                <img class="absolute" width="80%" src="/assets/images/placeholders/Book-PurpleWider.png"
                                    alt="">
                                <img class="opacity-0" width="80%"
                                    src="/assets/images/placeholders/Book-PurpleWider.png" alt="">
                                <p class=" absolute min-w-max text-bookTitle px-6 py-4 font-Brixton_lead">First Home
                                    Rule
                                    Bill</p>
                            </div>


                            <div style="margin-left: 360px; width: 540px;"
                                class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">

                                <!--BOOKSHELF TITLE-->

                                <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -34%; left:36%; width: 41%; height: 19%;"
                                    class="absolute flex justify-center items-center">

                                    <p class="text-3xl font-Brixton_lead">
                                        <span class="text-white">Unit {{ module_number }}</span>
                                        First Home Rule Bill
                                    </p>
                                </div>
                                {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                    src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}

                                <!--END OF // BOOKSHELF TITLE-->

                                <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                <!--BACK BUTTON AND-->
                                <div
                                    class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                    <a onclick="window.location.reload();"
                                        class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                        <svg class="shadow-xl" width="30" height="22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                        </svg>
                                    </a>
                                </div>
                                <!--END OF // BACK BUTTON-->

                                <!--INTRO AND TIMELINE-->
                                <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                    class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">


                                    <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                        <div @click="showfhbModalIntro = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Introduction</span>
                                        </div>
                                        {{ partial:components/fhb_modal_intro }}
                                    </div>

                                    
                                    <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                        <div @click="showfhbModalTimeline = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                    fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Timeline</span>
                                        </div>
                                        {{ partial:components/fhb_timeline_modal }}
                                    </div>


                                </div>
                                <!--END OF // INTRO AND TIMELINE-->
                                <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->


                                <!--BOOKS SUBMENU-->
                                {{ nav:collection:module_3 }}
                                {{ if parent_unit | contains:first_home_rule_bill }}
                                <a href="{{ url }}"
                                    class="bookImg max-h-[53px]  relative flex justify-center items-center max-w-max -mb-1">
                                    <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                    </div>

                                    <img class="opacity-0  max-h-[53px]" height="80%"
                                        src="/assets/images/placeholders/Book-Red.png" alt="">
                                    <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                        book_title
                                        }}</p>
                                </a>
                                {{ /if }}
                                {{ /nav:collection:module_3 }}
                                <!--END OF // BOOKS SUBMENU-->

                            </div>



                        </div>
                        <!--END OF // BOOK-->



                        <!--BOOK - SECOND HOME RULE BILL-->
                        <div style="max-height: min-content;" class="unit cursor-pointer -mt-2">
                            <div class="unit1Book relative flex justify-center items-center w-full">
                                <img class="absolute" width="80%" src="/assets/images/placeholders/Book-RedWider.png"
                                    alt="">
                                <img class="opacity-0" width="80%" src="/assets/images/placeholders/Book-RedWider.png"
                                    alt="">
                                <p class=" absolute min-w-max text-bookTitle px-6 py-4 font-Brixton_lead">Second Home
                                    Rule
                                    Bill</p>
                            </div>


                            <div style="margin-left: 360px; width: 540px;"
                                class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">

                                <!--BOOKSHELF TITLE-->

                                <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -154px; left:36.5%; width: 50%; height: 19%;"
                                    class="absolute flex justify-center items-center">

                                    <p class="text-3xl font-Brixton_lead">
                                        <span class="text-white">Unit {{ module_number }}</span>
                                        Second Home Rule Bill
                                    </p>
                                </div>
                                {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                    src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}

                                <!--END OF // BOOKSHELF TITLE-->

                                
                                <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                <!--BACK BUTTON AND-->
                                <div
                                    class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                    <a onclick="window.location.reload();"
                                        class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                        <svg class="shadow-xl" width="30" height="22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                        </svg>
                                    </a>
                                </div>
                                <!--END OF // BACK BUTTON-->

                                <!--INTRO AND TIMELINE-->
                                <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                    class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">


                                    <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                        <div @click="showfhbModalIntro = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Introduction</span>
                                        </div>
                                        {{ partial:components/shb_modal_intro }}
                                    </div>

                                    
                                    <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                        <div @click="showfhbModalTimeline = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                    fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Timeline</span>
                                        </div>
                                        {{ partial:components/shb_timeline_modal }}
                                    </div>


                                </div>
                                <!--END OF // INTRO AND TIMELINE-->
                                <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->

                                <!--BOOKS SUBMENU-->
                                {{ nav:collection:module_3 }}
                                {{ if parent_unit | contains:second_home_rule_bill }}
                                <a href="{{ url }}"
                                    class="bookImg max-h-[53px] relative flex justify-center items-center max-w-max -mb-1">
                                    <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                    </div>

                                    <img class="opacity-0  max-h-[53px]" height="80%"
                                        src="/assets/images/placeholders/Book-Red.png" alt="">
                                    <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                        book_title
                                        }}</p>
                                </a>
                                {{ /if }}
                                {{ /nav:collection:module_3 }}
                                <!--END OF // BOOKS SUBMENU-->

                            </div>



                        </div>
                        <!--END OF // BOOK-->



                        <!--BOOK - THIRD HOME RULE BILL-->
                        <div style="max-height: min-content;" class="unit cursor-pointer -mt-2">
                            <div class="unit1Book relative flex justify-center items-center w-full">
                                <img class="absolute" width="80%" src="/assets/images/placeholders/Book-BlueWider.png"
                                    alt="">
                                <img class="opacity-0" width="80%" src="/assets/images/placeholders/Book-BlueWider.png"
                                    alt="">
                                <p class=" absolute min-w-max text-bookTitle px-6 py-4 font-Brixton_lead">Third Home
                                    Rule
                                    Bill</p>
                            </div>


                            <div style="margin-left: 360px; width: 540px;"
                                class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">

                                <!--BOOKSHELF TITLE-->

                                <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -154px; left:36.5%; width: 50%; height: 19%;"
                                    class="absolute flex justify-center items-center">

                                    <p class="text-3xl font-Brixton_lead">
                                        <span class="text-white">Unit {{ module_number }}</span>
                                        Third Home Rule Bill
                                    </p>
                                </div>
                                {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                    src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}

                                <!--END OF // BOOKSHELF TITLE-->

                                
                                <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                <!--BACK BUTTON AND-->
                                <div
                                    class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                    <a onclick="window.location.reload();"
                                        class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                        <svg class="shadow-xl" width="30" height="22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                        </svg>
                                    </a>
                                </div>
                                <!--END OF // BACK BUTTON-->

                                <!--INTRO AND TIMELINE-->
                                <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                    class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">


                                    <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                        <div @click="showfhbModalIntro = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Introduction</span>
                                        </div>
                                        {{ partial:components/thb_modal_intro }}
                                    </div>

                                    
                                    <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                        <div @click="showfhbModalTimeline = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                    fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Timeline</span>
                                        </div>
                                        {{ partial:components/thb_timeline_modal }}
                                    </div>


                                </div>
                                <!--END OF // INTRO AND TIMELINE-->
                                <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->

                                <!--BOOKS SUBMENU-->
                                {{ nav:collection:module_3 }}
                                {{ if parent_unit | contains:third_home_rule_bill }}
                                <a href="{{ url }}"
                                    class="bookImg max-h-[53px] relative flex justify-center items-center max-w-max -mb-1">
                                    <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                    </div>

                                    <img class="opacity-0  max-h-[53px]" height="80%"
                                        src="/assets/images/placeholders/Book-Red.png" alt="">
                                    <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                        book_title
                                        }}</p>
                                </a>
                                {{ /if }}
                                {{ /nav:collection:module_3 }}
                                <!--END OF // BOOKS SUBMENU-->

                            </div>



                        </div>
                        <!--END OF // BOOK-->



                        <!--BOOK - GOVERNMENT ACT IRELAND 1920-->
                        <div style="max-height: min-content;" class="unit cursor-pointer -mt-2">
                            <div class="unit1Book relative flex justify-center items-center w-full">
                                <img class="absolute" width="80%" src="/assets/images/placeholders/Book-BeigeWider.png"
                                    alt="">
                                <img class="opacity-0" width="80%" src="/assets/images/placeholders/Book-BeigeWider.png"
                                    alt="">
                                <p class=" absolute min-w-max text-bookTitle px-6 py-4 font-Brixton_lead">GOVERNMENT OF
                                    IRELAND ACT 1920</p>
                            </div>


                            <div style="margin-left: 360px; width: 540px;"
                                class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">

                                <!--BOOKSHELF TITLE-->

                                <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -154px; left:36.5%; width: 50%; height: 19%;"
                                    class="absolute flex justify-center items-center">

                                    <p class="text-3xl font-Brixton_lead">
                                        <span class="text-white">Unit {{ module_number }}</span>
                                        GOVERNMENT OF IRELAND ACT 1920
                                    </p>
                                </div>
                                {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                    src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}

                                <!--END OF // BOOKSHELF TITLE-->

                                <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                <!--BACK BUTTON AND-->
                                <div
                                    class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                    <a onclick="window.location.reload();"
                                        class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                        <svg class="shadow-xl" width="30" height="22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                        </svg>
                                    </a>
                                </div>
                                <!--END OF // BACK BUTTON-->

                                <!--INTRO AND TIMELINE-->
                                <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                    class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">


                                    <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                        <div @click="showfhbModalIntro = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Introduction</span>
                                        </div>
                                        {{ partial:components/goi_modal_intro }}
                                    </div>

                                    
                                    <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                        <div @click="showfhbModalTimeline = true" type="button"
                                            class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                    fill="#B47ACA" />
                                            </svg>
                                            <span>Unit Timeline</span>
                                        </div>
                                        {{ partial:components/goi_timeline_modal }}
                                    </div>


                                </div>
                                <!--END OF // INTRO AND TIMELINE-->
                                <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->

                                <!--BOOKS SUBMENU-->
                                {{ nav:collection:module_3 }}
                                {{ if parent_unit | contains:government_of_ireland_act_1920 }}
                                <a href="{{ url }}"
                                    class="bookImg max-h-[53px] relative flex justify-center items-center max-w-max -mb-1">
                                    <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                    </div>

                                    <img class="opacity-0  max-h-[53px]" height="80%"
                                        src="/assets/images/placeholders/Book-Red.png" alt="">
                                    <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                        book_title
                                        }}</p>
                                </a>
                                {{ /if }}
                                {{ /nav:collection:module_3 }}
                                <!--END OF // BOOKS SUBMENU-->

                            </div>



                        </div>
                        <!--END OF // BOOK-->



                    </div>
                    <!--END OF BOOKS WRAPPER-->

                </div>
                <!--END OF // BOOKSHELF-->
                <!--END OF DESKTOP VIEW-->



                <!--*************************************-->



                <!--MOBILE VIEW-->
                <div class="flex items-end h-full md:hidden">

                    <div class="flex flex-col justify-end items-center h-1/2">
                        <img style="width: 141%; max-width: 200%;" src="/assets/images/placeholders/topShelf.png" alt="">
                        
                        <div class="w-full bg-shelf ">
                            
                            <!--BOOK - FIRST HOME RULE BILL-->
                            <div class="unit cursor-pointer w-full -mb-1">
                                <div class="unit1Book relative flex justify-center items-center w-full">
                                    <img class=""  src="/assets/images/placeholders/Book-Purple.png"
                                        alt="">
                                    
                                    <p class=" absolute min-w-max text-3xl px-6 py-4 font-Brixton_lead">First Home
                                        Rule
                                        Bill</p>
                                </div>
                                <div style="margin-left: 360px; width: 540px;"
                                    class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">
                                    <!--BOOKSHELF TITLE-->
                                    <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -34%; left:36%; width: 41%; height: 19%;"
                                        class="absolute flex justify-center items-center">
                                        <p class="text-3xl font-Brixton_lead">
                                            <span class="text-white">Unit {{ module_number }}</span>
                                            First Home Rule Bill
                                        </p>
                                    </div>
                                    {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                        src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}
                                    <!--END OF // BOOKSHELF TITLE-->
                                    <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BACK BUTTON AND-->
                                    <div
                                        class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                        <a onclick="window.location.reload();"
                                            class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                            <svg class="shadow-xl" width="30" height="22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <!--END OF // BACK BUTTON-->
                                    <!--INTRO AND TIMELINE-->
                                    <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                        class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">
                                        <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                            <div @click="showfhbModalIntro = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                    fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Introduction</span>
                                            </div>
                                            {{ partial:components/fhb_modal_intro }}
                                        </div>
                            
                                        <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                            <div @click="showfhbModalTimeline = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                        fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Timeline</span>
                                            </div>
                                            {{ partial:components/fhb_timeline_modal }}
                                        </div>
                                    </div>
                                    <!--END OF // INTRO AND TIMELINE-->
                                    <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BOOKS SUBMENU-->
                                    {{ nav:collection:module_3 }}
                                    {{ if parent_unit | contains:first_home_rule_bill }}
                                    <a href="{{ url }}"
                                        class="bookImg max-h-[53px]  relative flex justify-center items-center max-w-max -mb-1">
                                        <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                        </div>
                                        <img class="opacity-0  max-h-[53px]" height="80%"
                                            src="/assets/images/placeholders/Book-Red.png" alt="">
                                        <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                            book_title
                                            }}</p>
                                    </a>
                                    {{ /if }}
                                    {{ /nav:collection:module_3 }}
                                    <!--END OF // BOOKS SUBMENU-->
                                </div>
                            </div>
                            <!--END OF // BOOK-->


                            <!--BOOK - SECOND HOME RULE BILL-->
                            <div class="unit cursor-pointer w-full -mb-1">
                                <div class="unit1Book relative flex justify-center items-center w-full">
                                    <img class=""  src="/assets/images/placeholders/Book-Red.png"
                                        alt="">
                                    
                                    <p class=" absolute min-w-max text-3xl px-6 py-4 font-Brixton_lead">Second Home
                                        Rule
                                        Bill</p>
                                </div>
                                <div style="margin-left: 360px; width: 540px;"
                                    class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">
                                    <!--BOOKSHELF TITLE-->
                                    <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -34%; left:36%; width: 41%; height: 19%;"
                                        class="absolute flex justify-center items-center">
                                        <p class="text-3xl font-Brixton_lead">
                                            <span class="text-white">Unit {{ module_number }}</span>
                                            First Home Rule Bill
                                        </p>
                                    </div>
                                    {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                        src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}
                                    <!--END OF // BOOKSHELF TITLE-->
                                    <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BACK BUTTON AND-->
                                    <div
                                        class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                        <a onclick="window.location.reload();"
                                            class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                            <svg class="shadow-xl" width="30" height="22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <!--END OF // BACK BUTTON-->
                                    <!--INTRO AND TIMELINE-->
                                    <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                        class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">
                                        <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                            <div @click="showfhbModalIntro = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                    fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Introduction</span>
                                            </div>
                                            {{ partial:components/fhb_modal_intro }}
                                        </div>
                            
                                        <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                            <div @click="showfhbModalTimeline = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                        fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Timeline</span>
                                            </div>
                                            {{ partial:components/fhb_timeline_modal }}
                                        </div>
                                    </div>
                                    <!--END OF // INTRO AND TIMELINE-->
                                    <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BOOKS SUBMENU-->
                                    {{ nav:collection:module_3 }}
                                    {{ if parent_unit | contains:first_home_rule_bill }}
                                    <a href="{{ url }}"
                                        class="bookImg max-h-[53px]  relative flex justify-center items-center max-w-max -mb-1">
                                        <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                        </div>
                                        <img class="opacity-0  max-h-[53px]" height="80%"
                                            src="/assets/images/placeholders/Book-Red.png" alt="">
                                        <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                            book_title
                                            }}</p>
                                    </a>
                                    {{ /if }}
                                    {{ /nav:collection:module_3 }}
                                    <!--END OF // BOOKS SUBMENU-->
                                </div>
                            </div>
                            <!--END OF // BOOK-->

                            <!--BOOK - THIRD HOME RULE BILL-->
                            <div class="unit cursor-pointer w-full -mb-1">
                                <div class="unit1Book relative flex justify-center items-center w-full">
                                    <img class=""  src="/assets/images/placeholders/Book-Blue.png"
                                        alt="">
                                    
                                    <p class=" absolute min-w-max text-3xl px-6 py-4 font-Brixton_lead">THIRD Home
                                        Rule
                                        Bill</p>
                                </div>
                                <div style="margin-left: 360px; width: 540px;"
                                    class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">
                                    <!--BOOKSHELF TITLE-->
                                    <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -34%; left:36%; width: 41%; height: 19%;"
                                        class="absolute flex justify-center items-center">
                                        <p class="text-3xl font-Brixton_lead">
                                            <span class="text-white">Unit {{ module_number }}</span>
                                            First Home Rule Bill
                                        </p>
                                    </div>
                                    {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                        src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}
                                    <!--END OF // BOOKSHELF TITLE-->
                                    <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BACK BUTTON AND-->
                                    <div
                                        class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                        <a onclick="window.location.reload();"
                                            class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                            <svg class="shadow-xl" width="30" height="22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <!--END OF // BACK BUTTON-->
                                    <!--INTRO AND TIMELINE-->
                                    <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                        class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">
                                        <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                            <div @click="showfhbModalIntro = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                    fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Introduction</span>
                                            </div>
                                            {{ partial:components/fhb_modal_intro }}
                                        </div>
                            
                                        <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                            <div @click="showfhbModalTimeline = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                        fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Timeline</span>
                                            </div>
                                            {{ partial:components/fhb_timeline_modal }}
                                        </div>
                                    </div>
                                    <!--END OF // INTRO AND TIMELINE-->
                                    <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BOOKS SUBMENU-->
                                    {{ nav:collection:module_3 }}
                                    {{ if parent_unit | contains:first_home_rule_bill }}
                                    <a href="{{ url }}"
                                        class="bookImg max-h-[53px]  relative flex justify-center items-center max-w-max -mb-1">
                                        <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                        </div>
                                        <img class="opacity-0  max-h-[53px]" height="80%"
                                            src="/assets/images/placeholders/Book-Red.png" alt="">
                                        <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                            book_title
                                            }}</p>
                                    </a>
                                    {{ /if }}
                                    {{ /nav:collection:module_3 }}
                                    <!--END OF // BOOKS SUBMENU-->
                                </div>
                            </div>
                            <!--END OF // BOOK-->


                            <!--BOOK - GOVERNMENT OF IRELAND ACT-->
                            <div class="unit cursor-pointer w-full -mb-1">
                                <div class="unit1Book relative flex justify-center items-center w-full">
                                    <img class=""  src="/assets/images/placeholders/Book-Beige.png"
                                        alt="">
                                    
                                    <p class=" absolute min-w-max text-2xl px-6 py-4 font-Brixton_lead">Government of Ireland Act 1920</p>
                                </div>
                                <div style="margin-left: 360px; width: 540px;"
                                    class="unit1BookContent hidden max-h-[242px] flex-wrap flex-col-reverse overflow-scroll mb-1 ">
                                    <!--BOOKSHELF TITLE-->
                                    <div style="background-image: url('/assets/images/placeholders/bookshelfTopColor.png'); background-size: 50%; top: -34%; left:36%; width: 41%; height: 19%;"
                                        class="absolute flex justify-center items-center">
                                        <p class="text-3xl font-Brixton_lead">
                                            <span class="text-white">Unit {{ module_number }}</span>
                                            First Home Rule Bill
                                        </p>
                                    </div>
                                    {{# <img style="top: -154px; left:36.5%; width: 50%;" class="absolute hidden"
                                        src="/assets/images/placeholders/bookshelfTopColor.png" alt=""> #}}
                                    <!--END OF // BOOKSHELF TITLE-->
                                    <!--BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BACK BUTTON AND-->
                                    <div
                                        class="flex -top-40 left-36 flex-row items-center absolute justify-start gap-x-2.5 flex-shrink-0">
                                        <a onclick="window.location.reload();"
                                            class="btn cursor-pointer btnCircle btnBack group w-15 h-15">
                                            <svg class="shadow-xl" width="30" height="22" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <!--END OF // BACK BUTTON-->
                                    <!--INTRO AND TIMELINE-->
                                    <div style="left: 43px; top: -86px; letter-spacing: 2px;"
                                        class="flex bg-purple absolute z-50 flex-col items-center justify-start gap-y-2.5 flex-shrink-0 p-[20px] text-white rounded-2xl shadow-2xl font-Metropolis font-bold uppercase text-xxs ">
                                        <div x-data="{ 'showfhbModalIntro': false }" @keydown.escape="showfhbModalIntro = false" x-cloak>
                                            <div @click="showfhbModalIntro = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8 0C3.60594 0 0 3.60594 0 8C0 12.3941 3.60594 16 8 16C12.3941 16 16 12.3941 16 8C16 3.60594 12.3941 0 8 0ZM8 13.1562C7.48319 13.1562 7.0625 12.7356 7.0625 12.2188C7.0625 11.7019 7.48319 11.2812 8 11.2812C8.51681 11.2812 8.9375 11.7019 8.9375 12.2188C8.9375 12.7356 8.51681 13.1562 8 13.1562ZM9.66122 7.92494C9.19431 8.26825 8.9375 8.70678 8.9375 9.1595V10.3438H7.0625V9.1595C7.0625 8.10894 7.60541 7.10781 8.55206 6.41337C8.79697 6.23394 8.9375 5.95791 8.9375 5.65625C8.9375 5.13944 8.51681 4.71875 8 4.71875C7.48319 4.71875 7.0625 5.13944 7.0625 5.65625H5.1875C5.1875 4.10534 6.44909 2.84375 8 2.84375C9.55091 2.84375 10.8125 4.10534 10.8125 5.65625C10.8125 6.54797 10.3822 7.39622 9.66122 7.92494Z"
                                                    fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Introduction</span>
                                            </div>
                                            {{ partial:components/fhb_modal_intro }}
                                        </div>
                            
                                        <div x-data="{ 'showfhbModalTimeline': false }" @keydown.escape="showfhbModalTimeline = false" x-cloak>
                                            <div @click="showfhbModalTimeline = true" type="button"
                                                class="bg-black rounded-full w-full px-[30px] py-[18.5px] flex justify-center items-center font-Metropolis font-bold uppercase text-xxs ">
                                                <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M17 6.15816V9.84184H14.2875V12.7409C14.9152 12.987 15.3612 13.5984 15.3612 14.3124C15.3612 15.243 14.6041 16 13.6736 16C12.743 16 11.986 15.243 11.986 14.3124C11.986 13.5984 12.4319 12.987 13.0596 12.7409V9.84184H7.73859V12.7409C8.36635 12.987 8.81226 13.5984 8.81226 14.3124C8.81226 15.243 8.05521 16 7.12467 16C6.19413 16 5.43709 15.243 5.43709 14.3124C5.43709 13.5984 5.88296 12.987 6.51075 12.7409V9.84184H0V6.15816H3.2363V3.2591C2.60855 3.01296 2.16264 2.40158 2.16264 1.68759C2.16264 0.757046 2.91968 0 3.85022 0C4.78076 0 5.53781 0.757046 5.53781 1.68759C5.53781 2.40158 5.09194 3.013 4.46414 3.2591V6.15816H9.7852V3.2591C9.15744 3.01296 8.71153 2.40158 8.71153 1.68759C8.71153 0.757046 9.46858 0 10.3991 0C11.3297 0 12.0867 0.757046 12.0867 1.68759C12.0867 2.40158 11.6408 3.013 11.013 3.2591V6.15816H17Z"
                                                        fill="#B47ACA" />
                                                </svg>
                                                <span>Unit Timeline</span>
                                            </div>
                                            {{ partial:components/fhb_timeline_modal }}
                                        </div>
                                    </div>
                                    <!--END OF // INTRO AND TIMELINE-->
                                    <!--END OF // BACK BUTTON AND INTRO AND TIMELINE-->
                                    <!--BOOKS SUBMENU-->
                                    {{ nav:collection:module_3 }}
                                    {{ if parent_unit | contains:first_home_rule_bill }}
                                    <a href="{{ url }}"
                                        class="bookImg max-h-[53px]  relative flex justify-center items-center max-w-max -mb-1">
                                        <div style="background-size: cover;" class=" h-[53px] w-full absolute">
                                        </div>
                                        <img class="opacity-0  max-h-[53px]" height="80%"
                                            src="/assets/images/placeholders/Book-Red.png" alt="">
                                        <p class=" absolute min-w-max text-bookTitle font-Brixton_lead px-6 py-4 ">{{
                                            book_title
                                            }}</p>
                                    </a>
                                    {{ /if }}
                                    {{ /nav:collection:module_3 }}
                                    <!--END OF // BOOKS SUBMENU-->
                                </div>
                            </div>
                            <!--END OF // BOOK-->
                            
                        </div>
                        
                        <img style="width: 140%; max-width: 200%;" src="/assets/images/placeholders/bottomShelf.png" alt="">
                    </div>

                    
                </div>
                <!--END OF // MOBILE VIEW-->

            </div>
            <!--END OF // BOOKS BG-->

            <script>
                $(".unit").click(function () {
                    $(this, ".unit").siblings().addClass('hidden');
                    $(".unit1Book").addClass('hidden');
                    $(".unit1BookContent").removeClass('hidden').addClass('flex');
                });
            
            </script>