
<div class="relative bg-contain md:bg-auto pt-15 md:pt-0   md:bg-repeat-x bg-star-sm md:bg-star-lg" >
    

    <div class="relative  m-auto 2xl:max-w-screen-2xl">
        <img class="hidden md:block w-full relative top-0 left-0 z-0" src="/assets/images/stars/bck_map.png" alt="">
        <div class="flex flex-col md:flex-row flex-wrap md:absolute md:top-0 md:left-0 z-20 ">
            <div class="w-full md:w-1/2 relative">
                <img class="w-full" src="/assets/images/stars/stars_1.png" alt="">
                {{constellation_one}}
                    {{entries}}
                        <a class="absolute py-2.5 px-3 bg-[#68304f] flex items-center justify-center  shadow-2xl" style="top:{{top}}%; left:{{left}}%;" href="{{ url }}">
                            <p class="text-xl  md:text-3xl leading-none text-white font-Brixton_lead whitespace-nowrap">
                                {{title}} 
                            </p>
                            {{# <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7078 12.6823L15.5286 17.8459L15.1735 18.2L15.5286 18.5541L17.3341 20.3541L17.6871 20.706L18.0401 20.3541L27.0673 11.3541L27.4225 11.0001L27.0673 10.646L18.0399 1.64591L17.6869 1.29396L17.3339 1.64592L15.5285 3.44593L15.1733 3.80001L15.5285 4.15409L20.5261 9.13672H1H0.5V9.63672V12.1823V12.6823H1H20.7078Z" stroke="white"/>
                            </svg> #}}
                                
                        </a>
                    {{/entries}}
                {{/constellation_one}}
            </div>
            <div class="w-full md:w-1/2 relative">
                <img class="w-full" src="/assets/images/stars/stars_2.png" alt="">
                {{constellation_two}}
                    {{entries}}
                    <a class="absolute py-2.5 px-3 bg-[#68304f] flex items-center justify-center  shadow-2xl" style="top:{{top}}%; left:{{left}}%;" href="{{ url }}">
                        <p class="text-xl md:text-3xl leading-none text-white font-Brixton_lead whitespace-nowrap">
                            {{title}} 
                        </p>
                        {{# <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.7078 12.6823L15.5286 17.8459L15.1735 18.2L15.5286 18.5541L17.3341 20.3541L17.6871 20.706L18.0401 20.3541L27.0673 11.3541L27.4225 11.0001L27.0673 10.646L18.0399 1.64591L17.6869 1.29396L17.3339 1.64592L15.5285 3.44593L15.1733 3.80001L15.5285 4.15409L20.5261 9.13672H1H0.5V9.63672V12.1823V12.6823H1H20.7078Z" stroke="white"/>
                        </svg> #}}
                            
                    </a>
                {{/entries}}
                {{/constellation_two}}
            </div>
            <div class="w-full md:w-1/2 relative">
                <img class="w-full" src="/assets/images/stars/stars_3.png" alt="">
                {{constellation_three}}
                    {{entries}}
                        <a class="absolute py-2.5 px-3 bg-[#68304f] flex items-center justify-center  shadow-2xl" style="top:{{top}}%; left:{{left}}%;" href="{{ url }}">
                            <p class="text-xl  md:text-3xl leading-none text-white font-Brixton_lead whitespace-nowrap">
                                {{title}} 
                            </p>
                            {{# <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7078 12.6823L15.5286 17.8459L15.1735 18.2L15.5286 18.5541L17.3341 20.3541L17.6871 20.706L18.0401 20.3541L27.0673 11.3541L27.4225 11.0001L27.0673 10.646L18.0399 1.64591L17.6869 1.29396L17.3339 1.64592L15.5285 3.44593L15.1733 3.80001L15.5285 4.15409L20.5261 9.13672H1H0.5V9.63672V12.1823V12.6823H1H20.7078Z" stroke="white"/>
                            </svg> #}}
                                
                        </a>
                    {{/entries}}
                {{/constellation_three}}
            </div>
            <div class="w-full md:w-1/2 relative">
                <img class="w-full" src="/assets/images/stars/stars_4.png" alt="">
                {{constellation_four}}
                    {{entries}}
                        <a class="absolute py-2.5 px-3 bg-[#68304f] flex items-center justify-center  shadow-2xl" style="top:{{top}}%; left:{{left}}%;" href="{{ url }}">
                            <p class="text-xl  md:text-3xl leading-none text-white font-Brixton_lead whitespace-nowrap">
                                {{title}} 
                            </p>
                            {{# <svg width="29" height="22" viewBox="0 0 29 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.7078 12.6823L15.5286 17.8459L15.1735 18.2L15.5286 18.5541L17.3341 20.3541L17.6871 20.706L18.0401 20.3541L27.0673 11.3541L27.4225 11.0001L27.0673 10.646L18.0399 1.64591L17.6869 1.29396L17.3339 1.64592L15.5285 3.44593L15.1733 3.80001L15.5285 4.15409L20.5261 9.13672H1H0.5V9.63672V12.1823V12.6823H1H20.7078Z" stroke="white"/>
                            </svg> #}}
                                
                        </a>
                    {{/entries}}
                {{/constellation_four}}
            </div>
        </div>
    </div>
</div>

