<!--BUTTONS-->
<div class="order-2 lg:order-none flex justify-start items-center gap-x-1.25 md:gap-x-2.5 gap-y-1.25 md:gap-y-2.5 flex-wrap  flex-shrink-0">


  {{ partial:components/btn_audio_unit  }}

  <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
    <button @click="showModal = true; document.body.classList.add('overflow-hidden');"  type="button" class="btn btnBlack group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4 ">
      <span class="w-3.5 block h-[13.18px] md:w-[17px] md:h-4">
        <svg class="theme-text" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14 5.483v3.034h-2.234v2.387c.517.203.884.706.884 1.294 0 .767-.623 1.39-1.39 1.39-.766 0-1.39-.623-1.39-1.39 0-.588.368-1.091.885-1.294V8.517H6.373v2.387c.517.203.884.706.884 1.294 0 .767-.623 1.39-1.39 1.39-.766 0-1.39-.623-1.39-1.39 0-.588.368-1.091.885-1.294V8.517H0V5.483h2.665V3.096a1.392 1.392 0 0 1-.884-1.294c0-.767.623-1.39 1.39-1.39.766 0 1.39.623 1.39 1.39 0 .588-.368 1.091-.885 1.294v2.387h4.382V3.096a1.392 1.392 0 0 1-.884-1.294c0-.767.624-1.39 1.39-1.39.766 0 1.39.623 1.39 1.39 0 .588-.367 1.091-.884 1.294v2.387H14Z" />
        </svg>
      </span>
      Timeline
    </button>
    {{ if module_name!="module_3" }}  
      {{ partial:components/module_timeline }}
    {{else}}
    {{ partial:components/module_timeline titleone="Module 3 Unit" smalltext="true" }}

    {{/if}}

  </div>

  <a download href="{{ parent:resources }}" class="btn btnBlack hidden group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4">
    <span class="w-3.5 block h-[10.46px] md:w-[21px] md:h-4">
      <svg class="theme-text" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="m7 8.512-4.53-2.21v2.917L7 11.231l4.53-2.012V6.302L7 8.512Z" />
        <path d="M14 4.184 7 .769 0 4.184l7 3.414 5.352-2.61v3.039h.821v-3.44L14 4.184Z" />
      </svg>
    </span>
    learning
    <span class="hidden md:block">resources</span>
  </a>

  <a href="/glossary" class="btn btnBlack group gap-x-1.25 p-4 md:gap-x-2.5 md:px-7.5 md:py-4">
    <span class="w-3.5 block h-[16px] md:h-[21px] md:w-[21px] ">
      <svg xmlns="http://www.w3.org/2000/svg" class="theme-text" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
    </span>
    Glossary
</a>

</div>