<div class="w-full ">
    {{ if unit_content | length != 1 }}
    <div class="flex justify-center lg:justify-end items-center gap-x-2.5 flex-shrink-0 md:pr-7.5 2xl:pr-25">
      
      <a 
      type="button" 
      @click="activeTab--" 
      class="btn btnCircle btnPager group w-15 h-15"
      :class="{ 'pointer-events-none': activeTab === 1 }"
      href="#topofpage">
        <svg width="30" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
        </svg>
      </a>


      {{ unit_content }}
      <a type="button"  @click="activeTab = {{ index | add:1 }}" :class="{'active': activeTab === {{ index | add:1 }}}" class="pager" href="#topofpage"> 
        {{ index | add:1 }}
      </a>
      {{ /unit_content }}
<h1>{{unit_content:count}}</h1>
      
      <a type="button" @click="activeTab++" 
      class="bg-black btn btnCircle btnPager group w-15 h-15"
      :class="{ 'pointer-events-none': activeTab === {{unit_content | count}} }"
      href="#topofpage">
        <svg class="rotate-180" width="30" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
        </svg>
      </a>

    </div>
    {{ /if }}
    
  </div>