<div class="w-full h-full bg-no-repeat bg-cover " style="background-image: url(/assets/images/page-bg.jpg);"
  x-data="{ activeTab: 1 }">
  {{ partial:components/unit_navbar }}

  <div class="relative px-5 m-auto 2xl:px-0 2xl:max-w-screen-2xl py-15 flex flex-col gap-y-7.5 lg:flex-row justify-between">
    <div class="w-full md:pr-5 ">

      {{ unit_content }}
      
      <div x-show="activeTab === {{ index | add:1 }}"
        class="flex gap-y-7.5 md:gap-y-0 md:flex-row justify-between flex-grow gap-x-7.5 xl:gap-x-0 ">
        <div class="flex flex-col gap-y-7.5 w-full leading-7 font-Metropolis xl:pl-15 2xl:pl-25">
          {{ partial:components/unit_buttons }}
          
          <div class="order-1 lg:order-none md:mt-7.5 flex flex-col gap-y-2.5 lg:gap-y-7.5">
          
            {{if parent_module == "true"}}
                <div class="flex">
                  
                  <div class="text-2xl leading-none text-white font-Brixton_lead theme-bg-dark p-4 mr-2">
                    {{parent_module}}{{title}}{{/parent_module}} 
                  </div>
                  <div class="text-2xl leading-none text-white font-Brixton_lead theme-bg-dark p-4 mr-4">
                    example {{ example_number }}
                  </div>
                </div>
                <h1 class="title-140">{{ title }}</h1>
                <h2 class="title-30">{{intro_text}}</h2>
            {{else}}
              <h1 class="title-140">{{ title }}</h1>
              <h2 class="title-30">{{intro_text}}</h2>
            {{/if}}

            
            
          </div>
          
          <div {{if allow_zoom }} x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak {{/if}} class="order-3 lg:order-none lg:absolute top-[180px] right-0 h-5/6 w-full  lg:w-1/2 flex flex-col items-end">
            
            <img {{if allow_zoom }} @click="showModal = true; document.body.classList.add('overflow-hidden');"{{/if}} class="lg:float-right lg:max-w-[700px] w-full mix-blend-darken md:sticky top-10 lg:pr-15" src="{{ image }}">
          
            {{if allow_zoom }}
            <div @click="showModal = true; document.body.classList.add('overflow-hidden');" class=" top-[15px] right-[75px] absolute opacity-75 bg-black p-4 rounded-full hidden md:block">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM10 7v3m0 0v3m0-3h3m-3 0H7" />
              </svg>
            </div>
            {{ partial:components/image_zoom  }}

            {{/if}}
          </div>

          <div class="contentArea order-4 lg:order-none flex flex-col gap-y-2.5 lg:gap-y-7.5">
            {{content}}
              {{ partial:components/general_content }}
            {{/content}}
          </div>

        </div>
      </div>
      {{ /unit_content }}
    </div>

    {{ partial:components/unit_pagination }}

  </div>
</div>
{{ partial:components/footer }}
