  <div class="w-full theme-bg-dark py-4 px-5">

    <div
        class="flex flex-row justify-between font-bold leading-normal tracking-widest text-white uppercase gap-x-5 md:gap-x-0 font-Metropolis text-xxxs">

        <div onclick="history.back(-1)" class="flex flex-row items-center justify-start gap-x-2.5 flex-shrink-0 cursor-pointer">
            <div class="btn btnCircle btnBack group w-15 h-15">
                <svg width="30" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M14.6 3.8 11.378.588.935 11l10.443 10.412L14.6 18.2l-5.033-5.018h19.498V8.637H9.75L14.6 3.8ZM7.33 9.637h20.735v2.545H7.148l6.036 6.018-1.806 1.8-9.027-9 9.027-9 1.806 1.8L7.33 9.637Z" />
                </svg>
            </div>
            <span class="hidden md:block">back</span>
        </div>
        <div
            class="flex text-right flex-wrap flex-row items-center pl-10 xl:pl-0 justify-end xl:justify-start  gap-x-2.5 leading-loose md:leading-none">

           
            <div class="hidden xl:block theme-text-link">module {{ parent:module_number }}</div>
            
            <span class="hidden xl:block  w-1 h-1 rounded theme-bg"></span>
            <span class="hidden xl:block" >{{ parent:title }}</span>
            
            
            <span class="theme-bg w-10 block h-[1px]"></span>

            {{if parent_module == "true"}}
                {{parent_module}}
                <span>unit {{unit_number}}
                </span>
                {{/parent_module}}
                <span class="hidden md:block w-1 h-1 rounded theme-bg "></span>
                <span>example {{ example_number }}</span>
            {{else}}
                {{ collection from=module_name }}
                {{ if slug==page:slug }}
                <span>unit {{if index < 10}}0{{/if}}{{ index | add:1 }}
                </span>
                {{/if}}
                {{ /collection }}
                <span class="hidden md:block w-1 h-1 rounded theme-bg "></span>
                <span>{{ title }}</span>
            {{/if}}


        </div>
    </div>
</div>