    <!--MODAL BACKDROP  -->
    <div class="overflow-auto transform -translate-y-22 z-50" style="background-color: rgb(0, 0, 0)" x-show="showModal"
        :class="{ 'fixed top-0 w-screen h-screen inset-0 z-10 flex items-center  justify-center': showModal }">
   

        <div class="cursor-pointer z-50 fixed top-12 right-12 flex items-center justify-end gap-x-2.5 uppercase font-Metropolis text-xxs font-bold"
        @click="showModal = false">
            <span class="bg-turquoise w-10 block h-[1px]"></span>
            <span class="text-white theme-text-link">Close</span>
        </div>
        <!--MODAL INNER-->
        <div class="w-10/12  pt-20 text-left" x-show="showModal" @click.away="showModal = false; document.body.classList.remove('overflow-hidden');"
            x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in duration-300"
            x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
            <div class="w-full flex flex-col justify-center pb-20 items-center">
                <div class="dialogue-content md:mx-20 w-full ">

                    {{ if video | is_embeddable }}
                    <!-- Youtube and Video -->
                    <div class="video-container">
                    <iframe src="{{ video | embed_url }}" class="w-full"></iframe>
                    </div>
                    {{ else }}
                    <div class="video-container">
                    <!-- Other HTML5 video types -->
                </div>
                    <video src="{{ upload_video | embed_url }}" class="w-full"></video>
                    {{ /if }}

                </div>
            </div>


        </div>
        <!--END OF // MODAL INNER-->
    </div>
    <!--END OF // MODAL BACKDROP-->