<div class="flex  justify-center">

  <div class="w-11/12 2xl:w-9/12 pt-40 pb-60 text-left" >
    <div class="flex flex-col gap-y-12 mt-12 items-center lg:items-start lg:flex-row lg:justify-between ">

      <div class="w-full lg:w-1/2 lg:mb-12 mb-0 flex flex-col gap-y-7.5 theme-mod-1">
        <h1
          class="text-white uppercase leading-19 text-8xl lg:leading-28 lg:text-9xl lg:leading-36 lg:text-11xl font-Brixton_lead">
          <span class="titleFirstWord">{{ large_title }}</span>
          <br>
          <span class="titleNotFirstWord theme-text">{{ large_title }}</span>
        </h1>
        <div class="dialogue-content ">
          {{ page_content }}
          {{ partial:components/general_content }}
          {{/page_content}}
        </div>
      </div>

      <div class="w-full lg:w-1/2 lg:ml-5 mb-12 lg:mb-0 lg:max-w-[468px]">
        <div class="bg-turquoise p-12 flex flex-col justify-center w-full items-center gap-y-8">


          <div
            class="flex flex-row items-center justify-end gap-x-2.5 font-bold leading-none tracking-widest uppercase font-Metropolis text-xxs w-full">
            <span class="bg-white w-10 block h-[1px]"></span>
            <span class="text-black theme-text-link">About the Author</span>
          </div>

          <div
            class="bg-black rounded-full w-[200px] h-[200px] lg:w-[348px] lg:h-[348px] max-w-[348px] flex items-center overflow-hidden">
            {{ if author_image }}
            {{ author_image }}
            <img src="{{ glide:url width='400' height='400'}}" alt="" class="rounded-full object-fit">
            {{ /author_image }}
            {{ else }}
            <img src="/assets/images/placeholders/defaultPersonImage.png" alt="">
            {{ /if }}
          </div>


          <div class="flex flex-col">
            <h1 class="text-black uppercase font-Brixton_lead mb-1 text-2xxl">{{ author_name }}</h1>
            <p class="leading-normal text-white lg:leading-loose">{{ author_bio }}</p>
          </div>

        </div>
      </div>





    </div>
  </div>
</div>
{{ partial:components/footer }}