    <!--MODAL BACKDROP  -->
    <div class="bg-black flex  justify-center">
   
        <!--MODAL INNER-->
        <div class="w-11/12 md:w-8/12 pt-40 text-left" >

            <div class="w-full flex flex-col justify-center pb-80 items-center">
                <div class=" flex flex-col justify-center  items-center mb-20">
                    {{if first_line_of_title || second_line_of_title }}
                    <h1 class="text-turquoise uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl font-Brixton_lead">
                        {{ first_line_of_title }}
                    </h1>
                    <h1 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl font-Brixton_lead ">
                        {{ second_line_of_title }}
                    </h1>
                    {{else}}
                    <h1 class="text-white uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl font-Brixton_lead ">
                        {{ title }}
                    </h1>
                    {{/if}}

                </div>
                <div class="dialogue-content md:mx-20 w-full md:w-[668px]">
                    {{ page_content }}
                    {{ partial:components/general_content }}
                    {{/page_content}}
                </div>
            </div>


        </div>
        <!--END OF // MODAL INNER-->
    </div>
    <!--END OF // MODAL BACKDROP-->
    {{ partial:components/footer }}