<div x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
<div class="relative w-full 3xl:m-auto 3xl:max-w-[1700px] lg:h-screen px-7.5 md:px-0 theme-mod-1">

    <div class="absolute top-0 right-0 bg-center w-full h-[600px] bg-cover lg:bg-contain md:bg-right-top bg-no-repeat lg:h-screen"
        style="background-image:url(/assets/images/home-bg.png)">
    </div>

    <div class="relative flex flex-col md:flex-row items-center justify-center md:justify-between h-[744px] ">

        <!--HERO CONTENT-->
        <div class="xl:max-w-[532px] md:ml-7.5 2xl:ml-30 flex flex-col gap-y-7.5">
            <h1
                class="text-white uppercase leading-19 text-8xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl font-Brixton_lead">
                <span class="titleFirstWord">{{ large_title }}</span>
                <span class="titleNotFirstWord theme-text">{{ large_title }}</span>
            </h1>
            <div class="leading-normal text-white md:leading-loose">{{ intro }}
            </div>
        </div>




        <button type="button" class="flex-shrink-0 
                mt-20 w-full flex justify-end
                md:w-auto md:flex-none md:justify-start
                md:mt-0 lg:w-[521px] lg:translate-x-20 3xl:translate-x-0"
                @click="showModal = true; document.body.classList.add('overflow-hidden');"
                >

            <div class="flex items-center justify-end group">

                <span class="absolute z-10 
                            translate-x-12.5 
                            md:-right-15  md:translate-x-0                          
                            rounded-full w-60 h-60 bg-turquoise
                            transition duration-500 ease-in-out 
                            lg:right-10 lg:w-[372px] lg:h-[372px] 
                            group-hover:transform
                            group-hover:scale-125
                            bg-opacity-40 group-hover:bg-opacity-80
                            flex items-center justify-center flex-shrink-0">
                </span>

                <div class="relative z-20 flex items-center gap-x-5">

                    <span
                        class="text-sm font-bold leading-none tracking-widest text-white uppercase lg:text-lg whitespace-nowrap font-Metropolis">Watch
                        the Film</span>

                    <svg class="relative z-20" width="142" height="142" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="71" cy="71" r="70.5" stroke="#fff" stroke-opacity=".5" />
                        <circle cx="71" cy="71" r="46" fill="#000" />
                        <path
                            d="M63 58.58c0-1.566 1.716-2.524 3.048-1.704l20.184 12.42a2 2 0 0 1 0 3.407L66.048 85.124c-1.332.82-3.048-.138-3.048-1.703V58.579Z"
                            fill="#fff" />
                    </svg>

                </div>


            </div>
        </button>



    </div>

</div>



{{ partial:components/footer }}
{{ partial:components/video_modal }}
</div>
