<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ general_site_details:site_name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

    
    <!--SERVER FONTS - METROPOLIS-->
    <link rel="preload" href="/assets/fonts/Metropolis/Metropolis-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/Metropolis/Metropolis-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="/assets/fonts/Metropolis/stylesheet.css" rel="stylesheet">

    <!--SERVER FONTS - BRIXTON LEAD-->
    <link rel="preload" href="/assets/fonts/Brixton_Lead/Brixton_Lead-Vector.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/Brixton_Lead/Brixton_Wood-Vector.woff2" as="font" type="font/woff2" crossorigin>
    <link href="/assets/fonts/Brixton_Lead/stylesheet.css" rel="stylesheet">


    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!--SLICK SLIDER-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LZZPNT75MX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LZZPNT75MX');
    </script>

</head>

<body
    class="min-h-screen overflow-x-hidden antialiased font-normal {{ if url | contains:why-did-ulster-feel-so-scotch }} theme-mod-1 {{ elseif url | contains:putting-the-ulster-scot-centre-stage}} theme-mod-2 {{ elseif url | contains:home-rule-an-ulster-scots-perspective}} theme-mod-3 {{ /if }}bg-primary no-scrollbar font-acumin-pro text-primary"
    :class="{ 'overflow-hidden': isMobileNavOpen }" x-data="{ isMobileNavOpen: false , atTop: true }">


    <div id="topofpage"></div>

    {{ if general_site_details:site_down_holding_page }} 
        <div class="full-screen h-screen flex justify-center items-center">
            <div class="flex justify-start w-auto">
                <a href="/"
                    class="block text-2xl leading-5 text-right text-white uppercase md:leading-8 md:text-4xl font-Brixton_lead theme-">
                    making<br>
                    <span class="theme-text">northern<br>
                        ireland</span>
                </a>
            </div>

        </div>
    {{else}}
    {{ partial:components/header_nav }}
    {{ template_content }}
    {{/if}}

    <script src="{{ mix src='/js/site.js' }}"></script>


    <script>
        //MAKING THE FIRST WORD OF THE TITLES DIFFERENT FROM THE REST
        let firstWord = $('.titleFirstWord').text().split(' ')[0];
        $(".titleFirstWord").html(firstWord);

        //MAKING THE REST OF THE TITLE DIFFERENT FROM THE FIRST WORD
        let str = $('.titleNotFirstWord').html();
        let titleNotFirstWord = str.split(' ').slice(1).join(' ');
        $(".titleNotFirstWord").html(titleNotFirstWord);

        
    </script>

</body>

</html>