@font-face {
    font-family: 'Brixton_Wood Vector';
    src: url('Brixton_Wood-Vector.woff2') format('woff2'),
        url('Brixton_Wood-Vector.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brixton_Lead Vector';
    src: url('Brixton_Lead-Vector.woff2') format('woff2'),
        url('Brixton_Lead-Vector.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

