/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize *//*
Document
========
*//**
Use a better box model (opinionated).
*/*,
::before,
::after {
	box-sizing: border-box;
}/**
Use a more readable tab size (opinionated).
*/html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}/*
Sections
========
*//**
Remove the margin in all browsers.
*/body {
	margin: 0;
}/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/body {
	font-family:
		system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}/*
Grouping content
================
*//**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}/*
Text-level semantics
====================
*//**
Add the correct text decoration in Chrome, Edge, and Safari.
*/abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}/**
Add the correct font weight in Edge and Safari.
*/b,
strong {
	font-weight: bolder;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}/**
Add the correct font size in all browsers.
*/small {
	font-size: 80%;
}/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}sub {
	bottom: -0.25em;
}sup {
	top: -0.5em;
}/*
Tabular data
============
*//**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}/*
Forms
=====
*//**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/button,
select { /* 1 */
	text-transform: none;
}/**
Correct the inability to style clickable types in iOS and Safari.
*/button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}/**
Remove the inner border and padding in Firefox.
*/::-moz-focus-inner {
	border-style: none;
	padding: 0;
}/**
Restore the focus styles unset by the previous rule.
*/:-moz-focusring {
	outline: 1px dotted ButtonText;
}/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/:-moz-ui-invalid {
	box-shadow: none;
}/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/legend {
	padding: 0;
}/**
Add the correct vertical alignment in Chrome and Firefox.
*/progress {
	vertical-align: baseline;
}/**
Correct the cursor style of increment and decrement buttons in Safari.
*/::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}/**
Remove the inner padding in Chrome and Safari on macOS.
*/::-webkit-search-decoration {
	-webkit-appearance: none;
}/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}/*
Interactive
===========
*//*
Add the correct display in Chrome and Safari.
*/summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 *//**
 * Removes the default spacing and border for appropriate elements.
 */blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}button {
  background-color: transparent;
  background-image: none;
}fieldset {
  margin: 0;
  padding: 0;
}ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}/**
 * Tailwind custom reset styles
 *//**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */html {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */body {
  font-family: inherit;
  line-height: inherit;
}/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}/*
 * Ensure horizontal rules are visible by default
 */hr {
  border-top-width: 1px;
}/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */img {
  border-style: solid;
}textarea {
  resize: vertical;
}input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}button,
[role="button"] {
  cursor: pointer;
}/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */:-moz-focusring {
	outline: auto;
}table {
  border-collapse: collapse;
}h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */a {
  color: inherit;
  text-decoration: inherit;
}/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */img,
video {
  max-width: 100%;
  height: auto;
}/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */[hidden] {
  display: none;
}*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
	--tw-ring-shadow: 0 0 rgba(0,0,0,0);
	--tw-shadow: 0 0 rgba(0,0,0,0);
}.container {
	width: 100%;
}@media (min-width: 640px) {.container {
		max-width: 640px;
	}
}@media (min-width: 712px) {.container {
		max-width: 712px;
	}
}@media (min-width: 768px) {.container {
		max-width: 768px;
	}
}@media (min-width: 1024px) {.container {
		max-width: 1024px;
	}
}@media (min-width: 1280px) {.container {
		max-width: 1280px;
	}
}@media (min-width: 1536px) {.container {
		max-width: 1536px;
	}
}@media (min-width: 1600px) {.container {
		max-width: 1600px;
	}
}@tailwind utilities;html{scroll-behavior:smooth}.Brixton_lead{
    font-family: 'Brixton_Lead Vector';
    font-weight: normal;
    font-style: normal;
  
}.Metropolis {
    font-family: 'Metropolis';
    font-weight: normal;
    font-style: normal;
}/* NAV */.nav {
	margin-top: 1.25rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	grid-row-gap: 3.75rem;
	row-gap: 3.75rem;
	text-align: left;
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 2.5rem;
	line-height: 1;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}@media (min-width: 768px) {.nav {
		margin: auto;
	}.nav {
		margin-top: 5rem;
	}.nav {
		width: auto;
	}.nav {
		min-width: 700px;
	}.nav {
		font-size: 5rem;
	}
}@media (min-width: 1024px) {.nav {
		min-width: 849px;
	}
}@media (min-width: 768px) {.nav li {
		opacity: 0.3;
	}
}.nav:hover li:hover {
	z-index: 30;
	opacity: 1;
}.nav li {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*TIMELINE*/.timeline li {
	display: flex;
	width: 100%;
	padding-top: 6.25rem;
}.timeline li span .date {
	display: block;
	font-size: 3.75rem;
	line-height: 1;
}@media (min-width: 768px) {.timeline li span .date {
		font-size: 6rem;
		line-height: 1;
	}
}.timeline li h2 {
	font-size: 2.5rem;
}@media (min-width: 768px) {.timeline li h2 {
		font-size: 5rem;
	}
}.timeline li p {
	font-size: 0.8rem;
}.timeline li p a {
	font-size: 0.8rem;
	font-weight: 700;
}.timeline h3 {
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
}.timeline li div div:not(:first-child) {
	margin-top: 1rem;
}.timeline li:last-child {
	padding-bottom: 12.5rem;
}.timeline li:nth-child(odd) {
	justify-content: flex-start;
	text-align: left;
}.timeline li:nth-child(odd) > div {
	padding-left: 2.5rem;
}.timeline li:nth-child(even) {
	justify-content: flex-start;
}.timeline li:nth-child(even) > div {
	padding-left: 2.5rem;
	text-align: left;
}@media (min-width: 1024px) {

    .timeline li:nth-child(odd) {
		justify-content: flex-end;
	}

    .timeline li:nth-child(odd) {
		text-align: left;
	}
    .timeline li:nth-child(even) > div {
		padding-right: 2.5rem;
	}
    .timeline li:nth-child(even) > div {
		padding-left: 0px;
	}
    .timeline li:nth-child(even) > div {
		text-align: right;
	}
    .timeline li:nth-child(even) .timeline-btn {
		display: flex;
	}
    .timeline li:nth-child(even) .timeline-btn {
		justify-content: flex-end;
	}
}/*BUTTONS*/.theme-text-link {
	transform: var(--tw-transform);
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column-gap: 0.625rem;
	-moz-column-gap: 0.625rem;
	     column-gap: 0.625rem;
	overflow: hidden;
	border-radius: 9999px;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: Metropolis, sans-serif;
	font-size: 0.6875rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: .2em;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.btn-fill-effect {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	height: 100%;
	width: 100%;
	--tw-translate-y: 100%;
	transform: var(--tw-transform);
	transform: var(--tw-transform);
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.btn-content {
	position: relative;
	z-index: 10;
	white-space: nowrap;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	line-height: 1.75rem;
}@media (min-width: 768px) {.btn-content {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}.btn svg {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*BUTTONS WITH BORDERS*/.btnBorder {
	border-width: 1px;
}.btnBorder:hover {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}.btnBorder svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}/*BUTTONS WITH BLACK BG*/.btnBlack, .btnBack, .btnPager {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}.btnBlack:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.btnBlack svg {
	fill: currentColor;
}.btnBack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}/*CIRCLE BUTTONS */.btnCircle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.btnCircle svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}/*SOCIAL BUTTONS */.btnSocial {
	height: 3.75rem;
	width: 3.75rem;
}.btnSocial svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}/*PAGER NUMBERS */.pager {
	display: flex;
	height: 2.5rem;
	width: 2.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgba(0, 0, 0, var(--tw-border-opacity));
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.375rem;
}.pager.active {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.btnNextMod {
	height: 5rem;
	width: 5rem;
}.btnNextMod svg {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}/*BUTTONS  ANIMATE*/.btn-animate.btn-primary:hover {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.btn-animate.btn-primary:hover .btn-fill-effect {
	--tw-translate-y: 0px;
	transform: var(--tw-transform);
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
}/*TITLES 140px*/.title-140, .title-number {
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 5rem;
	text-transform: uppercase;
	line-height: 4rem;
}@media (min-width: 1280px) {.title-140, .title-number {
		font-size: 8.75rem;
	}.title-140, .title-number {
		line-height: 7rem;
	}
}/*TITLES 30px*/.title-30 {
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.5rem;
	line-height: 1;
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}@media (min-width: 768px) {.title-30 {
		font-size: 1.875rem;
	}
}/*PARAGRAPHS*/.script-text {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	padding: 1.875rem;
	font-family: Caveat, cursive;
	font-size: 1.375rem;
	line-height: 1.75rem;
}/*COLOUR CHANGES THEME*//*MODULE 1*/.theme-mod-1 .theme-bg, .theme-mod-1 .btnBack:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(70, 180, 186, var(--tw-bg-opacity));
}.theme-mod-1 .theme-text, .theme-mod-1 .btnBorder:hover, .theme-mod-1 .btnBorder:hover svg, .theme-mod-1 .theme-text-link:hover, .theme-mod-1 .btnBlack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(70, 180, 186, var(--tw-text-opacity));
}.theme-mod-1 .theme-bg-dark, .theme-mod-1 .btnBlack:hover, .theme-mod-1 .btnSocial:hover, .theme-mod-1 .btnPager:hover, .theme-mod-1 .btnCircle.theme-bg:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 102, 115, var(--tw-bg-opacity));
}.theme-mod-1 .btnBorder {
	--tw-border-opacity: 1;
	border-color: rgba(70, 180, 186, var(--tw-border-opacity));
}/*MODULE 2*/.theme-mod-2 .theme-bg, .theme-mod-2 .btnBack:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(241, 107, 155, var(--tw-bg-opacity));
}.theme-mod-2 .theme-text, .theme-mod-2 .btnBorder:hover, .theme-mod-2 .btnBorder:hover svg, .theme-mod-2 .theme-text-link:hover, .theme-mod-2 .btnBlack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(241, 107, 155, var(--tw-text-opacity));
}.theme-mod-2 .theme-bg-dark, .theme-mod-2 .btnBlack:hover, .theme-mod-2 .btnSocial:hover, .theme-mod-2 .btnPager:hover, .theme-mod-2 .btnCircle.theme-bg:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(123, 46, 74, var(--tw-bg-opacity));
}.theme-mod-2 .btnBorder {
	--tw-border-opacity: 1;
	border-color: rgba(241, 107, 155, var(--tw-border-opacity));
}/*MODULE 3*/.theme-mod-3 .theme-bg, .theme-mod-3 .btnBack:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(155, 108, 173, var(--tw-bg-opacity));
}.theme-mod-3 .theme-text, .theme-mod-3 .btnBorder:hover, .theme-mod-3 .btnBorder:hover svg, .theme-mod-3 .theme-text-link:hover, .theme-mod-3 .btnBlack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(155, 108, 173, var(--tw-text-opacity));
}.theme-mod-3 .theme-bg-dark, .theme-mod-3 .btnBlack:hover, .theme-mod-3 .btnSocial:hover, .theme-mod-3 .btnPager:hover, .theme-mod-3 .btnCircle.theme-bg:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(98, 57, 113, var(--tw-bg-opacity));
}.theme-mod-3 .btnBorder {
	--tw-border-opacity: 1;
	border-color: rgba(155, 108, 173, var(--tw-border-opacity));
}/*MAP*/.map-marker {
	position: absolute;
}.map-marker img {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.map-marker a {
	height: 100%;
	width: 100%;
}.map-tooltip {
	position: absolute;
	height: 3.125rem;
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
	padding: 0.625rem;
	opacity: 1;
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}@media (min-width: 768px) {.map-tooltip {
		opacity: 0;
	}
}.map-tooltip p {
	white-space: nowrap;
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.875rem;
	line-height: 1;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.contentArea blockquote {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	padding: 1.875rem;
	font-family: Caveat, cursive;
	font-size: 1.375rem;
	line-height: 1.75rem;
}.contentArea blockquote {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}.contentArea blockquote {
	padding: 1.875rem;
}.contentArea blockquote {
	padding-bottom: 0.75rem;
}.contentArea blockquote {
	font-family: Caveat, cursive;
}.contentArea blockquote {
	font-size: 1.375rem;
}.contentArea blockquote {
	line-height: 1.75rem;
}.contentArea blockquote p {
	padding-bottom: 0px;
}.contentArea blockquote p {
	font-size: 1.375rem;
}.contentArea blockquote p {
	line-height: 1.75rem;
}.contentArea blockquote p {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.contentArea p{
            font-size: 1.2rem;
            line-height: 2rem;
        }.contentArea p {
	margin-bottom: 1rem;
}.contentArea p a {
	font-weight: 700;
}.contentArea p a {
	text-decoration: underline;
}.contentArea h2 {
	margin-bottom: 1.5rem;
}.contentArea h2 {
	padding-top: 1rem;
}.contentArea h2 {
	font-family: Brixton_Lead Vector, sans-serif;
}.contentArea h2 {
	font-size: 2.5rem;
}.contentArea h2 {
	text-transform: uppercase;
}.contentArea h3 {
	margin-bottom: 1.5rem;
}.contentArea h3 {
	padding-top: 1rem;
}.contentArea h3 {
	font-family: Brixton_Lead Vector, sans-serif;
}.contentArea h3 {
	font-size: 1.875rem;
}.contentArea h3 {
	text-transform: uppercase;
}.contentArea ul li {
	display: flex;
}.contentArea ul li {
	flex-direction: row;
}.contentArea ul li:before{
                    content:"";
                }.contentArea ul li:before {
	margin-right: 1rem;
}.contentArea ul li:before {
	margin-top: 0.5rem;
}.contentArea ul li:before {
	display: block;
}.contentArea ul li:before {
	height: 0.5rem;
}.contentArea ul li:before {
	width: 0.5rem;
}.contentArea ul li:before {
	border-radius: 9999px;
}/*MODAL STYLES*/[x-cloak] {
			display: none;
		}.duration-300 {
			transition-duration: 300ms;
		}.ease-in {
			transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
		}.ease-out {
			transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}.scale-90 {
			transform: scale(.9);
		}.scale-100 {
			transform: scale(1);
		}#booksBG {
            background-size: contain
        }@media only screen and (max-width:1440px) {#booksBG {
                background-size: cover
        }
            }.bookImg:nth-child(2) {
            background-image: url('/assets/images/placeholders/Book-Beige.png');
            background-size: cover;
        }.bookImg:nth-child(3) {
            background-image: url('/assets/images/placeholders/Book-Blue.png');
            background-size: cover;
        }.bookImg:nth-child(4) {
            background-image: url('/assets/images/placeholders/Book-Red.png');
            background-size: cover;
        }.bookImg:nth-child(5) {
            background-image: url('/assets/images/placeholders/Book-Purple.png');
            background-size: cover;
        }.bookImg:nth-child(6) {
            background-image: url('/assets/images/placeholders/Book-Red.png');
            background-size: cover;
        }.bookImg:nth-child(7) {
            background-image: url('/assets/images/placeholders/Book-Purple.png');
            background-size: cover;
        }.bookImg:nth-child(8) {
            background-image: url('/assets/images/placeholders/Book-Beige.png');
            background-size: cover;
        }.bookImg:nth-child(9) {
            background-image: url('/assets/images/placeholders/Book-Blue.png');
            background-size: cover;
        }.faqContent blockquote {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}.faqContent blockquote {
	padding: 1.875rem;
}.faqContent blockquote {
	padding-bottom: 0.75rem;
}.faqContent blockquote {
	font-family: Caveat, cursive;
}.faqContent blockquote {
	font-size: 1.375rem;
}.faqContent blockquote {
	line-height: 1.75rem;
}.faqContent blockquote p {
	padding-bottom: 0px;
}.faqContent blockquote p {
	font-size: 1.375rem;
}.faqContent blockquote p {
	line-height: 1.75rem;
}.faqContent blockquote p {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.faqContent p {
	margin-bottom: 1.5rem;
}.faqContent p {
	font-size: 1rem;
	line-height: 1.5rem;
}.faqContent p a {
	font-weight: 700;
}.dialogue-content blockquote {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}.dialogue-content blockquote {
	padding: 1.875rem;
}.dialogue-content blockquote {
	padding-bottom: 0.75rem;
}.dialogue-content blockquote {
	font-family: Caveat, cursive;
}.dialogue-content blockquote {
	font-size: 1.375rem;
}.dialogue-content blockquote {
	line-height: 1.75rem;
}.dialogue-content blockquote p {
	padding-bottom: 0px;
}.dialogue-content blockquote p {
	font-size: 1.375rem;
}.dialogue-content blockquote p {
	line-height: 1.75rem;
}.dialogue-content blockquote p {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.dialogue-content p {
	margin-bottom: 1.5rem;
}.dialogue-content p {
	font-size: 1rem;
	line-height: 1.5rem;
}.dialogue-content p {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.dialogue-content p a {
	font-size: 1rem;
	line-height: 1.5rem;
}.dialogue-content p a {
	font-weight: 700;
}.dialogue-content p a {
	text-decoration: underline;
}.dialogue-content h2 {
	margin-bottom: 1.5rem;
}.dialogue-content h2 {
	padding-top: 1rem;
}.dialogue-content h2 {
	font-family: Brixton_Lead Vector, sans-serif;
}.dialogue-content h2 {
	font-size: 2.5rem;
}.dialogue-content h2 {
	text-transform: uppercase;
}.dialogue-content h2 {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.dialogue-content h3 {
	margin-bottom: 1.5rem;
}.dialogue-content h3 {
	padding-top: 1rem;
}.dialogue-content h3 {
	font-family: Brixton_Lead Vector, sans-serif;
}.dialogue-content h3 {
	font-size: 1.875rem;
}.dialogue-content h3 {
	text-transform: uppercase;
}.dialogue-content h3 {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.dialogue-content ul li {
	display: flex;
}.dialogue-content ul li {
	flex-direction: row;
}.dialogue-content ul li:before{
                content:"";
            }.dialogue-content ul li:before {
	margin-right: 1rem;
}.dialogue-content ul li:before {
	margin-top: 0.5rem;
}.dialogue-content ul li:before {
	display: block;
}.dialogue-content ul li:before {
	height: 0.5rem;
}.dialogue-content ul li:before {
	width: 0.5rem;
}.dialogue-content ul li:before {
	border-radius: 9999px;
}.dialogue-content ul li:before {
	--tw-bg-opacity: 1;
	background-color: rgba(70, 180, 186, var(--tw-bg-opacity));
}.modalContent blockquote {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}.modalContent blockquote {
	padding: 1.875rem;
}.modalContent blockquote {
	padding-bottom: 0.75rem;
}.modalContent blockquote {
	font-family: Caveat, cursive;
}.modalContent blockquote {
	font-size: 1.375rem;
}.modalContent blockquote {
	line-height: 1.75rem;
}.modalContent blockquote p {
	padding-bottom: 0px;
}.modalContent blockquote p {
	font-size: 1.375rem;
}.modalContent blockquote p {
	line-height: 1.75rem;
}.modalContent blockquote p {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.modalContent p {
	margin-bottom: 1.5rem;
}.modalContent p {
	font-size: 1rem;
	line-height: 1.5rem;
}.modalContent p {
	font-weight: 400;
}.modalContent p {
	text-transform: none;
}.modalContent h2 {
	margin-bottom: 1.5rem;
}.modalContent h2 {
	padding-top: 1rem;
}.modalContent h2 {
	font-family: Brixton_Lead Vector, sans-serif;
}.modalContent h2 {
	font-size: 2.5rem;
}.modalContent h2 {
	text-transform: uppercase;
}.modalContent h2 {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.modalContent h3 {
	margin-bottom: 1.5rem;
}.modalContent h3 {
	padding-top: 1rem;
}.modalContent h3 {
	font-family: Brixton_Lead Vector, sans-serif;
}.modalContent h3 {
	font-size: 1.875rem;
}.modalContent h3 {
	text-transform: uppercase;
}.modalContent h3 {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.modalContent p a {
	font-weight: 700;
}.modalContent p a {
	text-decoration: underline;
}.modalContent p strong {
	font-weight: 700;
}blockquote {
	margin-bottom: 1.25rem;
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	padding: 1.875rem;
	padding-bottom: 0.75rem;
	font-family: Caveat, cursive;
	font-size: 1.375rem;
	line-height: 1.75rem;
}blockquote p {
	padding-bottom: 0px;
}blockquote p {
	font-size: 1.375rem;
}blockquote p {
	line-height: 1.75rem;
}blockquote p {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.notes {
    font-size: 0.9rem;
    line-height: 1.5rem;
    overflow: hidden;
    margin-bottom: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    padding: 1.875rem;
    padding-bottom: 0.75rem;
}.notes p{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }.notes p {
	padding-bottom: 0px;
}.notes p {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    margin: 3rem 0
  }.video-container.paused-state .play {
        display: flex;
      }.video-container.square_video{
      padding-bottom: 100%;
      margin: 0;
    }.video-container.not-full-width{
      margin: 3rem 0;
    }.video-container iframe,
  .video-container object,
  .video-container video,
  .video-container embed {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
  }video{
    width: 100%;
  }.pointer-events-none {
	pointer-events: none;
}.fixed {
	position: fixed;
}.absolute {
	position: absolute;
}.relative {
	position: relative;
}.inset-0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}.top-0 {
	top: 0px;
}.right-0 {
	right: 0px;
}.top-\[-135vw\] {
	top: -135vw;
}.top-auto {
	top: auto;
}.left-0 {
	left: 0px;
}.bottom-0 {
	bottom: 0px;
}.right-\[27px\] {
	right: 27px;
}.-bottom-1 {
	bottom: -0.25rem;
}.top-\[-58vw\] {
	top: -58vw;
}.left-\[9\.5vw\] {
	left: 9.5vw;
}.top-8 {
	top: 2rem;
}.right-6 {
	right: 1.5rem;
}.right-2 {
	right: 0.5rem;
}.-top-6 {
	top: -1.5rem;
}.bottom-8 {
	bottom: 2rem;
}.right-8 {
	right: 2rem;
}.top-2 {
	top: 0.5rem;
}.-top-0 {
	top: 0px;
}.top-24 {
	top: 6rem;
}.left-1\/2 {
	left: 50%;
}.right-\[189px\] {
	right: 189px;
}.top-\[49px\] {
	top: 49px;
}.right-\[-16px\] {
	right: -16px;
}.top-\[234px\] {
	top: 234px;
}.left-\[306px\] {
	left: 306px;
}.top-\[-58px\] {
	top: -58px;
}.right-\[-116px\] {
	right: -116px;
}.top-\[182px\] {
	top: 182px;
}.left-\[157px\] {
	left: 157px;
}.top-\[-50px\] {
	top: -50px;
}.left-\[-54px\] {
	left: -54px;
}.top-\[332px\] {
	top: 332px;
}.left-\[341px\] {
	left: 341px;
}.top-\[-16px\] {
	top: -16px;
}.right-\[-45px\] {
	right: -45px;
}.top-\[314px\] {
	top: 314px;
}.right-\[85px\] {
	right: 85px;
}.top-\[7px\] {
	top: 7px;
}.right-\[-30px\] {
	right: -30px;
}.top-\[445px\] {
	top: 445px;
}.left-\[132px\] {
	left: 132px;
}.top-\[-59px\] {
	top: -59px;
}.left-\[-60px\] {
	left: -60px;
}.bottom-\[305px\] {
	bottom: 305px;
}.right-\[184px\] {
	right: 184px;
}.right-\[128px\] {
	right: 128px;
}.bottom-\[80px\] {
	bottom: 80px;
}.left-\[130px\] {
	left: 130px;
}.top-\[27px\] {
	top: 27px;
}.right-\[22px\] {
	right: 22px;
}.bottom-\[36px\] {
	bottom: 36px;
}.right-\[240px\] {
	right: 240px;
}.bottom-\[60px\] {
	bottom: 60px;
}.bottom-\[180px\] {
	bottom: 180px;
}.right-\[71px\] {
	right: 71px;
}.top-\[-53px\] {
	top: -53px;
}.-top-40 {
	top: -10rem;
}.left-36 {
	left: 9rem;
}.top-\[180px\] {
	top: 180px;
}.top-10 {
	top: 2.5rem;
}.top-\[15px\] {
	top: 15px;
}.right-\[75px\] {
	right: 75px;
}.top-12 {
	top: 3rem;
}.right-12 {
	right: 3rem;
}.z-10 {
	z-index: 10;
}.z-20 {
	z-index: 20;
}.z-50 {
	z-index: 50;
}.z-40 {
	z-index: 40;
}.z-0 {
	z-index: 0;
}.z-100 {
	z-index: 100;
}.order-2 {
	order: 2;
}.order-1 {
	order: 1;
}.order-3 {
	order: 3;
}.order-4 {
	order: 4;
}.m-auto {
	margin: auto;
}.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}.mx-auto {
	margin-left: auto;
	margin-right: auto;
}.mt-12 {
	margin-top: 3rem;
}.mb-0 {
	margin-bottom: 0px;
}.mb-12 {
	margin-bottom: 3rem;
}.mb-1 {
	margin-bottom: 0.25rem;
}.mb-20 {
	margin-bottom: 5rem;
}.mt-20 {
	margin-top: 5rem;
}.ml-4 {
	margin-left: 1rem;
}.mt-4 {
	margin-top: 1rem;
}.ml-\[9\%\] {
	margin-left: 9%;
}.mr-2 {
	margin-right: 0.5rem;
}.mb-\[-5px\] {
	margin-bottom: -5px;
}.mr-4 {
	margin-right: 1rem;
}.mb-4 {
	margin-bottom: 1rem;
}.mt-25 {
	margin-top: 6.25rem;
}.mt-10 {
	margin-top: 2.5rem;
}.mb-8 {
	margin-bottom: 2rem;
}.-mt-2 {
	margin-top: -0.5rem;
}.-mb-1 {
	margin-bottom: -0.25rem;
}.mb-3 {
	margin-bottom: 0.75rem;
}.mt-6 {
	margin-top: 1.5rem;
}.mr-3 {
	margin-right: 0.75rem;
}.block {
	display: block;
}.flex {
	display: flex;
}.hidden {
	display: none;
}.h-\[1px\] {
	height: 1px;
}.h-\[200px\] {
	height: 200px;
}.h-\[600px\] {
	height: 600px;
}.h-\[744px\] {
	height: 744px;
}.h-60 {
	height: 15rem;
}.h-screen {
	height: 100vh;
}.h-\[133vw\] {
	height: 133vw;
}.h-15 {
	height: 3.75rem;
}.h-\[14vw\] {
	height: 14vw;
}.h-full {
	height: 100%;
}.h-\[12\.5vw\] {
	height: 12.5vw;
}.h-\[11\.45px\] {
	height: 11.45px;
}.h-6 {
	height: 1.5rem;
}.h-\[440px\] {
	height: 440px;
}.h-\[984px\] {
	height: 984px;
}.h-\[72px\] {
	height: 72px;
}.h-1 {
	height: 0.25rem;
}.h-\[13\.18px\] {
	height: 13.18px;
}.h-\[16px\] {
	height: 16px;
}.h-\[10\.46px\] {
	height: 10.46px;
}.h-1\/2 {
	height: 50%;
}.h-\[53px\] {
	height: 53px;
}.h-5\/6 {
	height: 83.333333%;
}.max-h-0 {
	max-height: 0px;
}.max-h-\[948px\] {
	max-height: 948px;
}.max-h-\[242px\] {
	max-height: 242px;
}.max-h-\[53px\] {
	max-height: 53px;
}.min-h-screen {
	min-height: 100vh;
}.w-11\/12 {
	width: 91.666667%;
}.w-full {
	width: 100%;
}.w-10 {
	width: 2.5rem;
}.w-\[200px\] {
	width: 200px;
}.w-60 {
	width: 15rem;
}.w-auto {
	width: auto;
}.w-screen {
	width: 100vw;
}.w-15 {
	width: 3.75rem;
}.w-max {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}.w-\[70vw\] {
	width: 70vw;
}.w-1\/2 {
	width: 50%;
}.w-\[150px\] {
	width: 150px;
}.w-\[82vw\] {
	width: 82vw;
}.w-3\.5 {
	width: 0.875rem;
}.w-3 {
	width: 0.75rem;
}.w-1\/3 {
	width: 33.333333%;
}.w-8\/12 {
	width: 66.666667%;
}.w-30 {
	width: 7.5rem;
}.w-6 {
	width: 1.5rem;
}.w-\[1032px\] {
	width: 1032px;
}.w-\[273px\] {
	width: 273px;
}.w-\[218px\] {
	width: 218px;
}.w-\[208px\] {
	width: 208px;
}.w-\[254px\] {
	width: 254px;
}.w-\[181px\] {
	width: 181px;
}.w-\[442px\] {
	width: 442px;
}.w-\[353px\] {
	width: 353px;
}.w-\[291px\] {
	width: 291px;
}.w-\[209px\] {
	width: 209px;
}.w-1\/4 {
	width: 25%;
}.w-1 {
	width: 0.25rem;
}.w-10\/12 {
	width: 83.333333%;
}.w-3\/12 {
	width: 25%;
}.w-9\/12 {
	width: 75%;
}.min-w-\[32px\] {
	min-width: 32px;
}.min-w-max {
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}.max-w-\[348px\] {
	max-width: 348px;
}.max-w-\[680px\] {
	max-width: 680px;
}.max-w-xl {
	max-width: 36rem;
}.max-w-max {
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content;
}.max-w-\[700px\] {
	max-width: 700px;
}.flex-shrink-0 {
	flex-shrink: 0;
}.flex-grow {
	flex-grow: 1;
}.translate-x-12\.5 {
	--tw-translate-x: 3.125rem;
	transform: var(--tw-transform);
}.translate-x-12 {
	--tw-translate-x: 3rem;
	transform: var(--tw-transform);
}.-translate-y-72 {
	--tw-translate-y: -18rem;
	transform: var(--tw-transform);
}.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}.rotate-90 {
	--tw-rotate: 90deg;
	transform: var(--tw-transform);
}.-rotate-90 {
	--tw-rotate: -90deg;
	transform: var(--tw-transform);
}.rotate-180 {
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}.scale-90 {
	--tw-scale-x: .9;
	--tw-scale-y: .9;
	transform: var(--tw-transform);
}.scale-100 {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: var(--tw-transform);
}.scale-40 {
	--tw-scale-x: .4;
	--tw-scale-y: .4;
	transform: var(--tw-transform);
}.transform {
	transform: var(--tw-transform);
}.cursor-pointer {
	cursor: pointer;
}.flex-row {
	flex-direction: row;
}.flex-col {
	flex-direction: column;
}.flex-col-reverse {
	flex-direction: column-reverse;
}.flex-wrap {
	flex-wrap: wrap;
}.flex-nowrap {
	flex-wrap: nowrap;
}.items-start {
	align-items: flex-start;
}.items-end {
	align-items: flex-end;
}.items-center {
	align-items: center;
}.justify-start {
	justify-content: flex-start;
}.justify-end {
	justify-content: flex-end;
}.justify-center {
	justify-content: center;
}.justify-between {
	justify-content: space-between;
}.gap-y-12 {
	grid-row-gap: 3rem;
	row-gap: 3rem;
}.gap-y-7\.5 {
	grid-row-gap: 1.875rem;
	row-gap: 1.875rem;
}.gap-y-7 {
	grid-row-gap: 1.75rem;
	row-gap: 1.75rem;
}.gap-y-8 {
	grid-row-gap: 2rem;
	row-gap: 2rem;
}.gap-x-2\.5 {
	grid-column-gap: 0.625rem;
	-moz-column-gap: 0.625rem;
	     column-gap: 0.625rem;
}.gap-x-2 {
	grid-column-gap: 0.5rem;
	-moz-column-gap: 0.5rem;
	     column-gap: 0.5rem;
}.gap-x-5 {
	grid-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	     column-gap: 1.25rem;
}.gap-x-3 {
	grid-column-gap: 0.75rem;
	-moz-column-gap: 0.75rem;
	     column-gap: 0.75rem;
}.gap-y-2\.5 {
	grid-row-gap: 0.625rem;
	row-gap: 0.625rem;
}.gap-y-2 {
	grid-row-gap: 0.5rem;
	row-gap: 0.5rem;
}.gap-x-1\.25 {
	grid-column-gap: 0.3125rem;
	-moz-column-gap: 0.3125rem;
	     column-gap: 0.3125rem;
}.gap-x-1 {
	grid-column-gap: 0.25rem;
	-moz-column-gap: 0.25rem;
	     column-gap: 0.25rem;
}.gap-y-10 {
	grid-row-gap: 2.5rem;
	row-gap: 2.5rem;
}.gap-y-30 {
	grid-row-gap: 7.5rem;
	row-gap: 7.5rem;
}.gap-y-3\.5 {
	grid-row-gap: 0.875rem;
	row-gap: 0.875rem;
}.gap-x-7\.5 {
	grid-column-gap: 1.875rem;
	-moz-column-gap: 1.875rem;
	     column-gap: 1.875rem;
}.gap-y-3 {
	grid-row-gap: 0.75rem;
	row-gap: 0.75rem;
}.gap-x-7 {
	grid-column-gap: 1.75rem;
	-moz-column-gap: 1.75rem;
	     column-gap: 1.75rem;
}.gap-x-4 {
	grid-column-gap: 1rem;
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
}.gap-x-30 {
	grid-column-gap: 7.5rem;
	-moz-column-gap: 7.5rem;
	     column-gap: 7.5rem;
}.gap-y-5 {
	grid-row-gap: 1.25rem;
	row-gap: 1.25rem;
}.gap-y-1\.25 {
	grid-row-gap: 0.3125rem;
	row-gap: 0.3125rem;
}.gap-y-1 {
	grid-row-gap: 0.25rem;
	row-gap: 0.25rem;
}.self-baseline {
	align-self: baseline;
}.overflow-auto {
	overflow: auto;
}.overflow-hidden {
	overflow: hidden;
}.overflow-scroll {
	overflow: scroll;
}.overflow-y-auto {
	overflow-y: auto;
}.overflow-x-hidden {
	overflow-x: hidden;
}.whitespace-nowrap {
	white-space: nowrap;
}.rounded-full {
	border-radius: 9999px;
}.rounded-2xl {
	border-radius: 1rem;
}.rounded {
	border-radius: 0.25rem;
}.border {
	border-width: 1px;
}.border-2 {
	border-width: 2px;
}.border-t {
	border-top-width: 1px;
}.border-t-2 {
	border-top-width: 2px;
}.border-b-2 {
	border-bottom-width: 2px;
}.border-transparent {
	border-color: transparent;
}.border-white {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}.border-gray-700 {
	--tw-border-opacity: 1;
	border-color: rgba(55, 65, 81, var(--tw-border-opacity));
}.border-opacity-30 {
	--tw-border-opacity: 0.3;
}.border-opacity-40 {
	--tw-border-opacity: 0.4;
}.bg-turquoise {
	--tw-bg-opacity: 1;
	background-color: rgba(70, 180, 186, var(--tw-bg-opacity));
}.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}.bg-primary {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}.bg-shelf {
	--tw-bg-opacity: 1;
	background-color: rgba(182, 149, 141, var(--tw-bg-opacity));
}.bg-shelfdark {
	--tw-bg-opacity: 1;
	background-color: rgba(180, 125, 82, var(--tw-bg-opacity));
}.bg-purple {
	--tw-bg-opacity: 1;
	background-color: rgba(155, 108, 173, var(--tw-bg-opacity));
}.bg-\[\#68304f\] {
	--tw-bg-opacity: 1;
	background-color: rgba(104, 48, 79, var(--tw-bg-opacity));
}.bg-opacity-40 {
	--tw-bg-opacity: 0.4;
}.bg-book-bck {
	background-image: url('/assets/images/placeholders/booksbg.png');
}.bg-star-sm {
	background-image: url('/assets/images/stars/bck_stars_mobile.png');
}.bg-cover {
	background-size: cover;
}.bg-contain {
	background-size: contain;
}.bg-center {
	background-position: center;
}.bg-left-top {
	background-position: left top;
}.bg-repeat {
	background-repeat: repeat;
}.bg-no-repeat {
	background-repeat: no-repeat;
}.p-12 {
	padding: 3rem;
}.p-\[15px\] {
	padding: 15px;
}.p-4 {
	padding: 1rem;
}.p-3 {
	padding: 0.75rem;
}.p-7\.5 {
	padding: 1.875rem;
}.p-7 {
	padding: 1.75rem;
}.p-\[20px\] {
	padding: 20px;
}.px-7\.5 {
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}.px-7 {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}.py-\[18\.5px\] {
	padding-top: 18.5px;
	padding-bottom: 18.5px;
}.py-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}.py-25 {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
}.py-7\.5 {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}.py-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}.px-\[30px\] {
	padding-left: 30px;
	padding-right: 30px;
}.py-2\.5 {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}.py-15 {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
}.pt-40 {
	padding-top: 10rem;
}.pb-60 {
	padding-bottom: 15rem;
}.pb-80 {
	padding-bottom: 20rem;
}.pb-6 {
	padding-bottom: 1.5rem;
}.pb-20 {
	padding-bottom: 5rem;
}.pb-7\.5 {
	padding-bottom: 1.875rem;
}.pb-7 {
	padding-bottom: 1.75rem;
}.pt-15 {
	padding-top: 3.75rem;
}.pl-10 {
	padding-left: 2.5rem;
}.pt-20 {
	padding-top: 5rem;
}.text-left {
	text-align: left;
}.text-center {
	text-align: center;
}.text-right {
	text-align: right;
}.font-Brixton_lead {
	font-family: Brixton_Lead Vector, sans-serif;
}.font-Metropolis {
	font-family: Metropolis, sans-serif;
}.text-8xl {
	font-size: 6rem;
	line-height: 1;
}.text-xxs {
	font-size: 0.6875rem;
}.text-2xxl {
	font-size: 1.5rem;
}.text-6xl {
	font-size: 3.75rem;
	line-height: 1;
}.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}.text-2xl {
	font-size: 1.375rem;
}.text-\[5\.5vw\] {
	font-size: 5.5vw;
}.text-3xl {
	font-size: 1.875rem;
}.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}.text-xxxs {
	font-size: 0.5625rem;
}.text-9xl {
	font-size: 8.75rem;
}.text-5xl {
	font-size: 3rem;
}.text-bookTitle {
	font-size: 1.2rem;
}.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}.font-bold {
	font-weight: 700;
}.font-normal {
	font-weight: 400;
}.uppercase {
	text-transform: uppercase;
}.leading-19 {
	line-height: 4.875rem;
}.leading-none {
	line-height: 1;
}.leading-normal {
	line-height: 1.5;
}.leading-5 {
	line-height: 1.25rem;
}.leading-13 {
	line-height: 3.25rem;
}.leading-loose {
	line-height: 2;
}.leading-7 {
	line-height: 1.75rem;
}.tracking-widest {
	letter-spacing: .2em;
}.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.text-black {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.text-turquoise {
	--tw-text-opacity: 1;
	color: rgba(70, 180, 186, var(--tw-text-opacity));
}.text-primary {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.text-pink {
	--tw-text-opacity: 1;
	color: rgba(241, 107, 155, var(--tw-text-opacity));
}.text-purple {
	--tw-text-opacity: 1;
	color: rgba(155, 108, 173, var(--tw-text-opacity));
}.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}.opacity-0 {
	opacity: 0;
}.opacity-100 {
	opacity: 1;
}.opacity-75 {
	opacity: 0.75;
}.mix-blend-darken {
	mix-blend-mode: darken;
}.shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);
}.shadow-xl {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);
}.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}.duration-500 {
	transition-duration: 500ms;
}.duration-700 {
	transition-duration: 700ms;
}.duration-300 {
	transition-duration: 300ms;
}.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.ease-linear {
	transition-timing-function: linear;
}.ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}.ease-in {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}.group:hover .group-hover\:scale-125 {
	--tw-scale-x: 1.25;
	--tw-scale-y: 1.25;
	transform: var(--tw-transform);
}.group:hover .group-hover\:scale-110 {
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: var(--tw-transform);
}.group:hover .group-hover\:transform {
	transform: var(--tw-transform);
}.group:hover .group-hover\:bg-opacity-80 {
	--tw-bg-opacity: 0.8;
}.group:hover .group-hover\:text-black {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}.group:hover .group-hover\:text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}.group:hover .group-hover\:opacity-100 {
	opacity: 1;
}@media (min-width: 640px) {.sm\:top-\[-120vw\] {
		top: -120vw;
	}.sm\:h-\[110vw\] {
		height: 110vw;
	}.sm\:text-5xl {
		font-size: 3rem;
	}
}@media (min-width: 768px) {.md\:absolute {
		position: absolute;
	}.md\:sticky {
		position: -webkit-sticky;
		position: sticky;
	}.md\:-right-15 {
		right: -3.75rem;
	}.md\:top-\[-530px\] {
		top: -530px;
	}.md\:top-\[417px\] {
		top: 417px;
	}.md\:left-\[105px\] {
		left: 105px;
	}.md\:bottom-\[328px\] {
		bottom: 328px;
	}.md\:top-\[-188px\] {
		top: -188px;
	}.md\:top-auto {
		top: auto;
	}.md\:left-0 {
		left: 0px;
	}.md\:top-12 {
		top: 3rem;
	}.md\:-right-40 {
		right: -10rem;
	}.md\:top-1\/2 {
		top: 50%;
	}.md\:right-12 {
		right: 3rem;
	}.md\:right-\[-82px\] {
		right: -82px;
	}.md\:top-0 {
		top: 0px;
	}.md\:order-1 {
		order: 1;
	}.md\:order-2 {
		order: 2;
	}.md\:mx-20 {
		margin-left: 5rem;
		margin-right: 5rem;
	}.md\:ml-7\.5 {
		margin-left: 1.875rem;
	}.md\:ml-7 {
		margin-left: 1.75rem;
	}.md\:mt-0 {
		margin-top: 0px;
	}.md\:ml-\[14\%\] {
		margin-left: 14%;
	}.md\:mb-0 {
		margin-bottom: 0px;
	}.md\:mt-7\.5 {
		margin-top: 1.875rem;
	}.md\:mt-7 {
		margin-top: 1.75rem;
	}.md\:block {
		display: block;
	}.md\:flex {
		display: flex;
	}.md\:hidden {
		display: none;
	}.md\:h-\[510px\] {
		height: 510px;
	}.md\:h-\[183px\] {
		height: 183px;
	}.md\:h-\[45px\] {
		height: 45px;
	}.md\:h-\[44px\] {
		height: 44px;
	}.md\:h-4 {
		height: 1rem;
	}.md\:h-\[372px\] {
		height: 372px;
	}.md\:h-full {
		height: 100%;
	}.md\:h-auto {
		height: auto;
	}.md\:h-\[21px\] {
		height: 21px;
	}.md\:h-screen {
		height: 100vh;
	}.md\:w-8\/12 {
		width: 66.666667%;
	}.md\:w-\[668px\] {
		width: 668px;
	}.md\:w-auto {
		width: auto;
	}.md\:w-full {
		width: 100%;
	}.md\:w-\[480px\] {
		width: 480px;
	}.md\:w-1\/2 {
		width: 50%;
	}.md\:w-\[471px\] {
		width: 471px;
	}.md\:w-5 {
		width: 1.25rem;
	}.md\:w-\[285px\] {
		width: 285px;
	}.md\:w-\[360px\] {
		width: 360px;
	}.md\:w-10\/12 {
		width: 83.333333%;
	}.md\:w-\[155px\] {
		width: 155px;
	}.md\:w-\[17px\] {
		width: 17px;
	}.md\:w-\[21px\] {
		width: 21px;
	}.md\:w-\[200px\] {
		width: 200px;
	}.md\:w-\[900px\] {
		width: 900px;
	}.md\:max-w-3xl {
		max-width: 48rem;
	}.md\:flex-none {
		flex: none;
	}.md\:flex-shrink-0 {
		flex-shrink: 0;
	}.md\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}.md\:-translate-y-1\/2 {
		--tw-translate-y: -50%;
		transform: var(--tw-transform);
	}.md\:-translate-y-28 {
		--tw-translate-y: -7rem;
		transform: var(--tw-transform);
	}.md\:scale-75 {
		--tw-scale-x: .75;
		--tw-scale-y: .75;
		transform: var(--tw-transform);
	}.md\:transform {
		transform: var(--tw-transform);
	}.md\:flex-row {
		flex-direction: row;
	}.md\:items-start {
		align-items: flex-start;
	}.md\:items-end {
		align-items: flex-end;
	}.md\:items-center {
		align-items: center;
	}.md\:justify-start {
		justify-content: flex-start;
	}.md\:justify-center {
		justify-content: center;
	}.md\:justify-between {
		justify-content: space-between;
	}.md\:gap-x-2\.5 {
		grid-column-gap: 0.625rem;
		-moz-column-gap: 0.625rem;
		     column-gap: 0.625rem;
	}.md\:gap-x-2 {
		grid-column-gap: 0.5rem;
		-moz-column-gap: 0.5rem;
		     column-gap: 0.5rem;
	}.md\:gap-x-12\.5 {
		grid-column-gap: 3.125rem;
		-moz-column-gap: 3.125rem;
		     column-gap: 3.125rem;
	}.md\:gap-x-12 {
		grid-column-gap: 3rem;
		-moz-column-gap: 3rem;
		     column-gap: 3rem;
	}.md\:gap-x-5 {
		grid-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		     column-gap: 1.25rem;
	}.md\:gap-y-2\.5 {
		grid-row-gap: 0.625rem;
		row-gap: 0.625rem;
	}.md\:gap-y-2 {
		grid-row-gap: 0.5rem;
		row-gap: 0.5rem;
	}.md\:gap-y-0 {
		grid-row-gap: 0px;
		row-gap: 0px;
	}.md\:gap-x-0 {
		grid-column-gap: 0px;
		-moz-column-gap: 0px;
		     column-gap: 0px;
	}.md\:overflow-visible {
		overflow: visible;
	}.md\:bg-transparent {
		background-color: transparent;
	}.md\:bg-none {
		background-image: none;
	}.md\:bg-star-lg {
		background-image: url('/assets/images/stars/mapgb.png');
	}.md\:bg-auto {
		background-size: auto;
	}.md\:bg-right-top {
		background-position: right top;
	}.md\:bg-repeat-x {
		background-repeat: repeat-x;
	}.md\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}.md\:px-7\.5 {
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}.md\:py-4 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}.md\:px-7 {
		padding-left: 1.75rem;
		padding-right: 1.75rem;
	}.md\:px-15 {
		padding-left: 3.75rem;
		padding-right: 3.75rem;
	}.md\:py-20 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}.md\:pt-20 {
		padding-top: 5rem;
	}.md\:pr-6 {
		padding-right: 1.5rem;
	}.md\:pb-20 {
		padding-bottom: 5rem;
	}.md\:pt-0 {
		padding-top: 0px;
	}.md\:pr-5 {
		padding-right: 1.25rem;
	}.md\:pr-7\.5 {
		padding-right: 1.875rem;
	}.md\:pr-7 {
		padding-right: 1.75rem;
	}.md\:text-center {
		text-align: center;
	}.md\:text-9xl {
		font-size: 8.75rem;
	}.md\:text-4xl {
		font-size: 2.5rem;
	}.md\:text-bookTitle {
		font-size: 1.2rem;
	}.md\:text-3xl {
		font-size: 1.875rem;
	}.md\:text-7xl {
		font-size: 5rem;
	}.md\:leading-28 {
		line-height: 7rem;
	}.md\:leading-loose {
		line-height: 2;
	}.md\:leading-8 {
		line-height: 2rem;
	}.md\:leading-none {
		line-height: 1;
	}.md\:opacity-0 {
		opacity: 0;
	}.group:hover .md\:group-hover\:-translate-x-50 {
		--tw-translate-x: -12.5rem;
		transform: var(--tw-transform);
	}
}@media (min-width: 1024px) {.lg\:absolute {
		position: absolute;
	}.lg\:right-10 {
		right: 2.5rem;
	}.lg\:top-auto {
		top: auto;
	}.lg\:bottom-\[156px\] {
		bottom: 156px;
	}.lg\:left-\[-290px\] {
		left: -290px;
	}.lg\:left-0 {
		left: 0px;
	}.lg\:left-1\/2 {
		left: 50%;
	}.lg\:order-none {
		order: 0;
	}.lg\:float-right {
		float: right;
	}.lg\:m-auto {
		margin: auto;
	}.lg\:mb-12 {
		margin-bottom: 3rem;
	}.lg\:ml-5 {
		margin-left: 1.25rem;
	}.lg\:mb-0 {
		margin-bottom: 0px;
	}.lg\:mb-4 {
		margin-bottom: 1rem;
	}.lg\:h-\[348px\] {
		height: 348px;
	}.lg\:h-screen {
		height: 100vh;
	}.lg\:h-\[372px\] {
		height: 372px;
	}.lg\:h-auto {
		height: auto;
	}.lg\:w-1\/2 {
		width: 50%;
	}.lg\:w-\[348px\] {
		width: 348px;
	}.lg\:w-\[521px\] {
		width: 521px;
	}.lg\:w-\[372px\] {
		width: 372px;
	}.lg\:w-\[300px\] {
		width: 300px;
	}.lg\:w-\[320px\] {
		width: 320px;
	}.lg\:max-w-\[468px\] {
		max-width: 468px;
	}.lg\:max-w-\[700px\] {
		max-width: 700px;
	}.lg\:translate-x-20 {
		--tw-translate-x: 5rem;
		transform: var(--tw-transform);
	}.lg\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}.lg\:translate-y-0 {
		--tw-translate-y: 0px;
		transform: var(--tw-transform);
	}.lg\:scale-100 {
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		transform: var(--tw-transform);
	}.lg\:flex-row {
		flex-direction: row;
	}.lg\:flex-col {
		flex-direction: column;
	}.lg\:items-start {
		align-items: flex-start;
	}.lg\:items-end {
		align-items: flex-end;
	}.lg\:items-center {
		align-items: center;
	}.lg\:justify-end {
		justify-content: flex-end;
	}.lg\:justify-between {
		justify-content: space-between;
	}.lg\:gap-y-7\.5 {
		grid-row-gap: 1.875rem;
		row-gap: 1.875rem;
	}.lg\:gap-y-7 {
		grid-row-gap: 1.75rem;
		row-gap: 1.75rem;
	}.lg\:self-auto {
		align-self: auto;
	}.lg\:bg-purple {
		--tw-bg-opacity: 1;
		background-color: rgba(155, 108, 173, var(--tw-bg-opacity));
	}.lg\:bg-contain {
		background-size: contain;
	}.lg\:p-0 {
		padding: 0px;
	}.lg\:pt-0 {
		padding-top: 0px;
	}.lg\:pr-15 {
		padding-right: 3.75rem;
	}.lg\:text-9xl {
		font-size: 8.75rem;
	}.lg\:text-11xl {
		font-size: 11.25rem;
	}.lg\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}.lg\:leading-28 {
		line-height: 7rem;
	}.lg\:leading-36 {
		line-height: 9rem;
	}.lg\:leading-loose {
		line-height: 2;
	}
}@media (min-width: 1280px) {.xl\:-left-0 {
		left: 0px;
	}.xl\:block {
		display: block;
	}.xl\:w-8\/12 {
		width: 66.666667%;
	}.xl\:max-w-\[532px\] {
		max-width: 532px;
	}.xl\:max-w-3xl {
		max-width: 48rem;
	}.xl\:justify-start {
		justify-content: flex-start;
	}.xl\:gap-x-0 {
		grid-column-gap: 0px;
		-moz-column-gap: 0px;
		     column-gap: 0px;
	}.xl\:px-30 {
		padding-left: 7.5rem;
		padding-right: 7.5rem;
	}.xl\:pl-15 {
		padding-left: 3.75rem;
	}.xl\:pl-0 {
		padding-left: 0px;
	}.xl\:text-7xl {
		font-size: 5rem;
	}.xl\:leading-16 {
		line-height: 4rem;
	}
}@media (min-width: 1536px) {.\32xl\:ml-30 {
		margin-left: 7.5rem;
	}.\32xl\:w-9\/12 {
		width: 75%;
	}.\32xl\:max-w-screen-2xl {
		max-width: 1536px;
	}.\32xl\:px-25 {
		padding-left: 6.25rem;
		padding-right: 6.25rem;
	}.\32xl\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}.\32xl\:pl-25 {
		padding-left: 6.25rem;
	}.\32xl\:pr-25 {
		padding-right: 6.25rem;
	}
}@media (min-width: 1600px) {.\33xl\:m-auto {
		margin: auto;
	}.\33xl\:max-w-\[1700px\] {
		max-width: 1700px;
	}.\33xl\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}
}


