
<div class="bg-black flex  justify-center">

    
    <div class="w-11/12 md:w-8/12 pt-40 text-left" >

        <div class="w-full flex flex-col justify-center pb-80 items-center">
            <div class=" flex flex-col justify-center  items-center mb-20">
                
                <h1 class="text-turquoise uppercase leading-19 text-6xl md:leading-28 md:text-9xl lg:leading-36 lg:text-11xl mb-8 font-Brixton_lead">
                    {{ first_line_of_title }}
                </h1>
                <h3 class="text-white uppercase text-3xl text-center  font-Brixton_lead ">
                    {{ second_line_of_title }}
                </h3>
                

            </div>
            <div x-data="{ letter: 'A' }" class="flex flex-col items-center justify-center w-full">
                <div  class="text-white flex flex-col mb-20 items-center flex-nowrap justify-center ">
                    <div x-on:click="letter = 'ALL'" :class="letter === 'ALL' ? 'bg-turquoise' : ''" class="order-2 md:order-1 w-full md:w-auto text-2xl text-white border-2 cursor-pointer border-gray-700 mb-3 w-max font-bold px-3 py-3 uppercase font-Brixton_lead">view all</div> 
                    <div id="box" class="text-white flex flex-grow flex-row flex-wrap justify-center order-1 md:order-2 max-w-[700px] ">

                    </div>
                </div>

                
                <div class="dialogue-content md:mx-20 w-full md:w-[900px]" >

                    
                    <div class="flex flex-col border-t-2 border-gray-700">
                        {{ collection from="glossary" }}
                        <div class="flex flex-row flex-wrap w-full text-lg text-white border-b-2 border-gray-700"
                        x-show="letter == '{{ title | truncate:1 }}' || letter == 'ALL'">
                        
                            <div class="w-3/12 mt-6 font-bold">{{title}}</div>
                            <div class="w-9/12 mt-6">{{content}}</div>
                        </div>
                        {{/collection}}
                    </div>
                </div>
            </div>
        </div>

        


    </div>
    
</div>
{{ partial:components/footer }}
<script>
    var html = '';
    var c;
    for (var i = 65; 90 >= i; i++) {// A-65, Z-90
    c = String.fromCharCode(i)
    html += '<div id="letter-' + c + '" :class="[letter === \'' + c + '\' ? \'bg-turquoise\' : \'\']"  class="text-2xl text-white border-2 cursor-pointer border-gray-700 mr-3 mb-3  font-bold px-3 py-3 uppercase font-Brixton_lead" x-on:click="letter = \'' + c + '\'">' + c + '</div>';
    }
    document.getElementById('box').innerHTML = html;

    var setLetter = function(x) {
    document.getElementById('name').innerHTML += x;
    };
</script>

<style>
