/*! tailwindcss v2.2.12 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}



.Brixton_lead{
    font-family: 'Brixton_Lead Vector';
    font-weight: normal;
    font-style: normal;
  
}

.Metropolis {
    font-family: 'Metropolis';
    font-weight: normal;
    font-style: normal;
}



/* NAV */
.nav {
	margin-top: 1.25rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	row-gap: 3.75rem;
	text-align: left;
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 2.5rem;
	line-height: 1;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
@media (min-width: 768px) {

	.nav {
		margin: auto;
	}

	.nav {
		margin-top: 5rem;
	}

	.nav {
		width: auto;
	}

	.nav {
		min-width: 700px;
	}

	.nav {
		font-size: 5rem;
	}
}
@media (min-width: 1024px) {

	.nav {
		min-width: 849px;
	}
}
@media (min-width: 768px) {

	.nav li {
		opacity: 0.3;
	}
}
.nav:hover li:hover {
	z-index: 30;
	opacity: 1;
}
.nav li {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




/*BUTTONS*/

.theme-text-link {
	transform: var(--tw-transform);
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-column-gap: 0.625rem;
	     column-gap: 0.625rem;
	overflow: hidden;
	border-radius: 9999px;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: Metropolis, sans-serif;
	font-size: 0.6875rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: .2em;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-fill-effect {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	height: 100%;
	width: 100%;
	--tw-translate-y: 100%;
	transform: var(--tw-transform);
	transform: var(--tw-transform);
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-content {
	position: relative;
	z-index: 10;
	white-space: nowrap;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	line-height: 1.75rem;
}
@media (min-width: 768px) {

	.btn-content {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}
.btn svg {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/*BUTTONS WITH BORDERS*/

.btnBorder {
	border-width: 1px;
}
.btnBorder:hover {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.btnBorder svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}


/*BUTTONS WITH BLACK BG*/
.btnBlack, .btnBack, .btnPager {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.btnBlack:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btnBlack svg {
	fill: currentColor;
}
.btnBack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}

/*CIRCLE BUTTONS */

.btnCircle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btnCircle svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/*SOCIAL BUTTONS */

.btnSocial {
	height: 3.75rem;
	width: 3.75rem;
}
.btnSocial svg {
	fill: currentColor;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/*PAGER NUMBERS */

.pager {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 9999px;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgba(0, 0, 0, var(--tw-border-opacity));
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.375rem;
}
.pager.active {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}


.btnNextMod {
	height: 5rem;
	width: 5rem;
}
.btnNextMod svg {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}





/*BUTTONS  ANIMATE*/
.btn-animate.btn-primary:hover {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.btn-animate.btn-primary:hover .btn-fill-effect {
	--tw-translate-y: 0px;
	transform: var(--tw-transform);
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
}



/*TITLES 140px*/

.title-140, .title-number {
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 5rem;
	text-transform: uppercase;
	line-height: 4rem;
}

@media (min-width: 1280px) {

	.title-140, .title-number {
		font-size: 8.75rem;
	}

	.title-140, .title-number {
		line-height: 7rem;
	}
}

/*TITLES 30px*/
.title-30 {
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.5rem;
	line-height: 1;
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}
@media (min-width: 768px) {

	.title-30 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}


/*PARAGRAPHS*/
.script-text {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	padding: 1.875rem;
	font-family: Caveat, cursive;
	font-size: 1.375rem;
	line-height: 1.75rem;
}





/*COLOUR CHANGES THEME*/


/*MODULE 1*/

    .theme-mod-1 .theme-bg, .theme-mod-1 .btnBack:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(70, 180, 186, var(--tw-bg-opacity));
}
    .theme-mod-1 .theme-text, .theme-mod-1 .btnBorder:hover, .theme-mod-1 .btnBorder:hover svg, .theme-mod-1 .theme-text-link:hover, .theme-mod-1 .btnBlack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(70, 180, 186, var(--tw-text-opacity));
}    
    .theme-mod-1 .theme-bg-dark, .theme-mod-1 .btnBlack:hover, .theme-mod-1 .btnSocial:hover, .theme-mod-1 .btnPager:hover, .theme-mod-1 .btnCircle.theme-bg:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 102, 115, var(--tw-bg-opacity));
} 
    .theme-mod-1 .btnBorder {
	--tw-border-opacity: 1;
	border-color: rgba(70, 180, 186, var(--tw-border-opacity));
}

  

/*MODULE 2*/

    .theme-mod-2 .theme-bg, .theme-mod-2 .btnBack:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(241, 107, 155, var(--tw-bg-opacity));
}
    .theme-mod-2 .theme-text, .theme-mod-2 .btnBorder:hover, .theme-mod-2 .btnBorder:hover svg, .theme-mod-2 .theme-text-link:hover, .theme-mod-2 .btnBlack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(241, 107, 155, var(--tw-text-opacity));
}    
    .theme-mod-2 .theme-bg-dark, .theme-mod-2 .btnBlack:hover, .theme-mod-2 .btnSocial:hover, .theme-mod-2 .btnPager:hover, .theme-mod-2 .btnCircle.theme-bg:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(123, 46, 74, var(--tw-bg-opacity));
} 
    .theme-mod-2 .btnBorder {
	--tw-border-opacity: 1;
	border-color: rgba(241, 107, 155, var(--tw-border-opacity));
}
 

  

/*MODULE 3*/

.theme-mod-3 .theme-bg, .theme-mod-3 .btnBack:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(180, 122, 202, var(--tw-bg-opacity));
}
.theme-mod-3 .theme-text, .theme-mod-3 .btnBorder:hover, .theme-mod-3 .btnBorder:hover svg, .theme-mod-3 .theme-text-link:hover, .theme-mod-3 .btnBlack:hover svg {
	--tw-text-opacity: 1;
	color: rgba(180, 122, 202, var(--tw-text-opacity));
}    
.theme-mod-3 .theme-bg-dark, .theme-mod-3 .btnBlack:hover, .theme-mod-3 .btnSocial:hover, .theme-mod-3 .btnPager:hover, .theme-mod-3 .btnCircle.theme-bg:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(98, 57, 113, var(--tw-bg-opacity));
} 
.theme-mod-3 .btnBorder {
	--tw-border-opacity: 1;
	border-color: rgba(180, 122, 202, var(--tw-border-opacity));
}




    /*MAP*/

    .map-marker {
	position: absolute;
}
    .map-marker img {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    .map-marker a {
	height: 100%;
	width: 100%;
}
    .map-tooltip {
	position: absolute;
	height: 3.125rem;
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
	padding: 0.625rem;
	opacity: 1;
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    @media (min-width: 768px) {

	.map-tooltip {
		opacity: 0;
	}
}

    .map-tooltip p {
	white-space: nowrap;
	font-family: Brixton_Lead Vector, sans-serif;
	font-size: 1.875rem;
	line-height: 2.25rem;
	line-height: 1;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}







.fixed {
	position: fixed;
}







.absolute {
	position: absolute;
}







.relative {
	position: relative;
}







.top-8 {
	top: 2rem;
}







.right-6 {
	right: 1.5rem;
}







.top-0 {
	top: 0px;
}







.left-0 {
	left: 0px;
}







.right-2 {
	right: 0.5rem;
}







.-top-6 {
	top: -1.5rem;
}







.right-5 {
	right: 1.25rem;
}







.bottom-8 {
	bottom: 2rem;
}







.right-8 {
	right: 2rem;
}







.right-0 {
	right: 0px;
}







.left-1\/2 {
	left: 50%;
}







.right-\[189px\] {
	right: 189px;
}







.top-\[49px\] {
	top: 49px;
}







.right-\[-16px\] {
	right: -16px;
}







.top-\[234px\] {
	top: 234px;
}







.left-\[306px\] {
	left: 306px;
}







.top-\[-58px\] {
	top: -58px;
}







.right-\[-116px\] {
	right: -116px;
}







.top-\[182px\] {
	top: 182px;
}







.left-\[157px\] {
	left: 157px;
}







.top-\[-50px\] {
	top: -50px;
}







.left-\[-54px\] {
	left: -54px;
}







.top-\[332px\] {
	top: 332px;
}







.left-\[341px\] {
	left: 341px;
}







.top-\[-16px\] {
	top: -16px;
}







.right-\[-45px\] {
	right: -45px;
}







.top-\[314px\] {
	top: 314px;
}







.right-\[85px\] {
	right: 85px;
}







.top-\[7px\] {
	top: 7px;
}







.right-\[-30px\] {
	right: -30px;
}







.top-\[445px\] {
	top: 445px;
}







.left-\[132px\] {
	left: 132px;
}







.top-\[-59px\] {
	top: -59px;
}







.left-\[-60px\] {
	left: -60px;
}







.bottom-\[305px\] {
	bottom: 305px;
}







.right-\[184px\] {
	right: 184px;
}







.right-\[128px\] {
	right: 128px;
}







.bottom-\[80px\] {
	bottom: 80px;
}







.left-\[130px\] {
	left: 130px;
}







.top-\[27px\] {
	top: 27px;
}







.right-\[22px\] {
	right: 22px;
}







.bottom-\[36px\] {
	bottom: 36px;
}







.right-\[240px\] {
	right: 240px;
}







.bottom-\[60px\] {
	bottom: 60px;
}







.bottom-\[180px\] {
	bottom: 180px;
}







.right-\[71px\] {
	right: 71px;
}







.top-\[-53px\] {
	top: -53px;
}







.-right-40 {
	right: -10rem;
}







.top-1\/2 {
	top: 50%;
}







.-right-60 {
	right: -15rem;
}







.-right-80 {
	right: -20rem;
}







.right-\[-82px\] {
	right: -82px;
}







.top-\[180px\] {
	top: 180px;
}







.top-10 {
	top: 2.5rem;
}







.z-50 {
	z-index: 50;
}







.z-40 {
	z-index: 40;
}







.z-10 {
	z-index: 10;
}







.z-0 {
	z-index: 0;
}







.z-20 {
	z-index: 20;
}







.order-2 {
	order: 2;
}







.order-1 {
	order: 1;
}







.order-3 {
	order: 3;
}







.order-4 {
	order: 4;
}







.m-auto {
	margin: auto;
}







.mt-25 {
	margin-top: 6.25rem;
}







.mt-20 {
	margin-top: 5rem;
}







.mt-10 {
	margin-top: 2.5rem;
}







.block {
	display: block;
}







.flex {
	display: flex;
}







.table {
	display: table;
}







.hidden {
	display: none;
}







.h-\[1px\] {
	height: 1px;
}







.h-full {
	height: 100%;
}







.h-\[600px\] {
	height: 600px;
}







.h-\[744px\] {
	height: 744px;
}







.h-60 {
	height: 15rem;
}







.h-\[72px\] {
	height: 72px;
}







.h-1 {
	height: 0.25rem;
}







.h-\[440px\] {
	height: 440px;
}







.h-\[984px\] {
	height: 984px;
}







.h-\[500px\] {
	height: 500px;
}







.h-15 {
	height: 3.75rem;
}







.h-64 {
	height: 16rem;
}







.h-\[11\.45px\] {
	height: 11.45px;
}







.h-\[13\.18px\] {
	height: 13.18px;
}







.h-\[10\.46px\] {
	height: 10.46px;
}







.h-5\/6 {
	height: 83.333333%;
}







.min-h-screen {
	min-height: 100vh;
}







.w-1\/3 {
	width: 33.333333%;
}







.w-10 {
	width: 2.5rem;
}







.w-full {
	width: 100%;
}







.w-30 {
	width: 7.5rem;
}







.w-60 {
	width: 15rem;
}







.w-1 {
	width: 0.25rem;
}







.w-\[1032px\] {
	width: 1032px;
}







.w-\[273px\] {
	width: 273px;
}







.w-\[218px\] {
	width: 218px;
}







.w-\[208px\] {
	width: 208px;
}







.w-\[254px\] {
	width: 254px;
}







.w-\[181px\] {
	width: 181px;
}







.w-\[150px\] {
	width: 150px;
}







.w-\[442px\] {
	width: 442px;
}







.w-\[353px\] {
	width: 353px;
}







.w-\[291px\] {
	width: 291px;
}







.w-\[209px\] {
	width: 209px;
}







.w-1\/2 {
	width: 50%;
}







.w-15 {
	width: 3.75rem;
}







.w-64 {
	width: 16rem;
}







.w-3\.5 {
	width: 0.875rem;
}







.w-3 {
	width: 0.75rem;
}







.max-w-xl {
	max-width: 36rem;
}







.flex-shrink-0 {
	flex-shrink: 0;
}







.flex-grow {
	flex-grow: 1;
}







.border-collapse {
	border-collapse: collapse;
}







.translate-x-12\.5 {
	--tw-translate-x: 3.125rem;
	transform: var(--tw-transform);
}







.translate-x-12 {
	--tw-translate-x: 3rem;
	transform: var(--tw-transform);
}







.-translate-y-72 {
	--tw-translate-y: -18rem;
	transform: var(--tw-transform);
}







.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}







.-translate-y-1\/2 {
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}







.translate-x-10 {
	--tw-translate-x: 2.5rem;
	transform: var(--tw-transform);
}







.translate-x-24 {
	--tw-translate-x: 6rem;
	transform: var(--tw-transform);
}







.rotate-180 {
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}







.scale-40 {
	--tw-scale-x: .4;
	--tw-scale-y: .4;
	transform: var(--tw-transform);
}







.transform {
	transform: var(--tw-transform);
}







.flex-row {
	flex-direction: row;
}







.flex-col {
	flex-direction: column;
}







.flex-col-reverse {
	flex-direction: column-reverse;
}







.flex-wrap {
	flex-wrap: wrap;
}







.items-center {
	align-items: center;
}







.justify-start {
	justify-content: flex-start;
}







.justify-end {
	justify-content: flex-end;
}







.justify-center {
	justify-content: center;
}







.justify-between {
	justify-content: space-between;
}







.gap-x-2\.5 {
	-moz-column-gap: 0.625rem;
	     column-gap: 0.625rem;
}







.gap-x-2 {
	-moz-column-gap: 0.5rem;
	     column-gap: 0.5rem;
}







.gap-x-4 {
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
}







.gap-y-7\.5 {
	row-gap: 1.875rem;
}







.gap-y-7 {
	row-gap: 1.75rem;
}







.gap-x-5 {
	-moz-column-gap: 1.25rem;
	     column-gap: 1.25rem;
}







.gap-y-10 {
	row-gap: 2.5rem;
}







.gap-y-30 {
	row-gap: 7.5rem;
}







.gap-y-3\.5 {
	row-gap: 0.875rem;
}







.gap-x-7\.5 {
	-moz-column-gap: 1.875rem;
	     column-gap: 1.875rem;
}







.gap-y-3 {
	row-gap: 0.75rem;
}







.gap-x-7 {
	-moz-column-gap: 1.75rem;
	     column-gap: 1.75rem;
}







.gap-x-30 {
	-moz-column-gap: 7.5rem;
	     column-gap: 7.5rem;
}







.gap-y-15 {
	row-gap: 3.75rem;
}







.gap-y-3\.75 {
	row-gap: 0.9375rem;
}







.gap-x-1\.25 {
	-moz-column-gap: 0.3125rem;
	     column-gap: 0.3125rem;
}







.gap-x-1 {
	-moz-column-gap: 0.25rem;
	     column-gap: 0.25rem;
}







.gap-y-2\.5 {
	row-gap: 0.625rem;
}







.gap-y-2 {
	row-gap: 0.5rem;
}







.gap-y-5 {
	row-gap: 1.25rem;
}







.overflow-hidden {
	overflow: hidden;
}







.overflow-x-hidden {
	overflow-x: hidden;
}







.whitespace-nowrap {
	white-space: nowrap;
}







.rounded-full {
	border-radius: 9999px;
}







.rounded {
	border-radius: 0.25rem;
}







.border {
	border-width: 1px;
}







.border-t {
	border-top-width: 1px;
}







.border-opacity-30 {
	--tw-border-opacity: 0.3;
}







.bg-primary {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}







.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}







.bg-turquoise {
	--tw-bg-opacity: 1;
	background-color: rgba(70, 180, 186, var(--tw-bg-opacity));
}







.bg-opacity-40 {
	--tw-bg-opacity: 0.4;
}







.bg-cover {
	background-size: cover;
}







.bg-center {
	background-position: center;
}







.bg-no-repeat {
	background-repeat: no-repeat;
}







.p-3 {
	padding: 0.75rem;
}







.p-7\.5 {
	padding: 1.875rem;
}







.p-7 {
	padding: 1.75rem;
}







.p-4 {
	padding: 1rem;
}







.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}







.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}







.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}







.px-7\.5 {
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}







.px-7 {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}







.py-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}







.py-7\.5 {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}







.py-7 {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}







.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}







.py-25 {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
}







.py-3\.75 {
	padding-top: 0.9375rem;
	padding-bottom: 0.9375rem;
}







.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}







.py-15 {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
}







.pb-20 {
	padding-bottom: 5rem;
}







.pb-15 {
	padding-bottom: 3.75rem;
}







.pr-5 {
	padding-right: 1.25rem;
}







.pr-15 {
	padding-right: 3.75rem;
}







.pr-7\.5 {
	padding-right: 1.875rem;
}







.pr-7 {
	padding-right: 1.75rem;
}







.text-left {
	text-align: left;
}







.text-right {
	text-align: right;
}







.font-Brixton_lead {
	font-family: Brixton_Lead Vector, sans-serif;
}







.font-Metropolis {
	font-family: Metropolis, sans-serif;
}







.text-2xl {
	font-size: 1.375rem;
}







.text-xxs {
	font-size: 0.6875rem;
}







.text-8xl {
	font-size: 6rem;
	line-height: 1;
}







.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}







.text-xxxs {
	font-size: 0.5625rem;
}







.text-6xl {
	font-size: 3.75rem;
	line-height: 1;
}







.text-5xl {
	font-size: 3rem;
	line-height: 1;
}







.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}







.font-normal {
	font-weight: 400;
}







.font-bold {
	font-weight: 700;
}







.uppercase {
	text-transform: uppercase;
}







.leading-5 {
	line-height: 1.25rem;
}







.leading-none {
	line-height: 1;
}







.leading-19 {
	line-height: 4.875rem;
}







.leading-normal {
	line-height: 1.5;
}







.leading-loose {
	line-height: 2;
}







.leading-13 {
	line-height: 3.25rem;
}







.leading-7 {
	line-height: 1.75rem;
}







.tracking-widest {
	letter-spacing: .2em;
}







.text-primary {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}







.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}







.text-turquoise {
	--tw-text-opacity: 1;
	color: rgba(70, 180, 186, var(--tw-text-opacity));
}







.text-pink {
	--tw-text-opacity: 1;
	color: rgba(241, 107, 155, var(--tw-text-opacity));
}







.text-purple {
	--tw-text-opacity: 1;
	color: rgba(180, 122, 202, var(--tw-text-opacity));
}







.text-black {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}







.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}







.opacity-0 {
	opacity: 0;
}







.opacity-100 {
	opacity: 1;
}







.opacity-50 {
	opacity: 0.5;
}







.mix-blend-darken {
	mix-blend-mode: darken;
}







.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}







.duration-500 {
	transition-duration: 500ms;
}







.ease-linear {
	transition-timing-function: linear;
}







.ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}







.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}







.group:hover .group-hover\:-translate-x-50 {
	--tw-translate-x: -12.5rem;
	transform: var(--tw-transform);
}







.group:hover .group-hover\:scale-125 {
	--tw-scale-x: 1.25;
	--tw-scale-y: 1.25;
	transform: var(--tw-transform);
}







.group:hover .group-hover\:scale-110 {
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: var(--tw-transform);
}







.group:hover .group-hover\:transform {
	transform: var(--tw-transform);
}







.group:hover .group-hover\:bg-opacity-80 {
	--tw-bg-opacity: 0.8;
}







.group:hover .group-hover\:text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}







.group:hover .group-hover\:opacity-100 {
	opacity: 1;
}







@media (min-width: 768px) {

	.md\:sticky {
		position: sticky;
	}

	.md\:top-12 {
		top: 3rem;
	}

	.md\:-right-40 {
		right: -10rem;
	}

	.md\:top-1\/2 {
		top: 50%;
	}

	.md\:-right-15 {
		right: -3.75rem;
	}

	.md\:right-\[-82px\] {
		right: -82px;
	}

	.md\:top-10 {
		top: 2.5rem;
	}

	.md\:ml-7\.5 {
		margin-left: 1.875rem;
	}

	.md\:ml-7 {
		margin-left: 1.75rem;
	}

	.md\:mt-0 {
		margin-top: 0px;
	}

	.md\:mt-7\.5 {
		margin-top: 1.875rem;
	}

	.md\:mt-7 {
		margin-top: 1.75rem;
	}

	.md\:block {
		display: block;
	}

	.md\:flex {
		display: flex;
	}

	.md\:hidden {
		display: none;
	}

	.md\:h-\[372px\] {
		height: 372px;
	}

	.md\:h-full {
		height: 100%;
	}

	.md\:h-auto {
		height: auto;
	}

	.md\:h-\[90px\] {
		height: 90px;
	}

	.md\:h-4 {
		height: 1rem;
	}

	.md\:w-\[360px\] {
		width: 360px;
	}

	.md\:w-auto {
		width: auto;
	}

	.md\:w-\[285px\] {
		width: 285px;
	}

	.md\:w-\[155px\] {
		width: 155px;
	}

	.md\:w-1\/2 {
		width: 50%;
	}

	.md\:w-5 {
		width: 1.25rem;
	}

	.md\:w-\[17px\] {
		width: 17px;
	}

	.md\:w-\[21px\] {
		width: 21px;
	}

	.md\:min-w-\[700px\] {
		min-width: 700px;
	}

	.md\:flex-none {
		flex: none;
	}

	.md\:flex-shrink-0 {
		flex-shrink: 0;
	}

	.md\:-translate-y-1\/2 {
		--tw-translate-y: -50%;
		transform: var(--tw-transform);
	}

	.md\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}

	.md\:-translate-y-28 {
		--tw-translate-y: -7rem;
		transform: var(--tw-transform);
	}

	.md\:translate-x-2\.5 {
		--tw-translate-x: 0.625rem;
		transform: var(--tw-transform);
	}

	.md\:translate-x-2 {
		--tw-translate-x: 0.5rem;
		transform: var(--tw-transform);
	}

	.md\:scale-75 {
		--tw-scale-x: .75;
		--tw-scale-y: .75;
		transform: var(--tw-transform);
	}

	.md\:transform {
		transform: var(--tw-transform);
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:items-center {
		align-items: center;
	}

	.md\:justify-start {
		justify-content: flex-start;
	}

	.md\:justify-center {
		justify-content: center;
	}

	.md\:justify-between {
		justify-content: space-between;
	}

	.md\:gap-x-12\.5 {
		-moz-column-gap: 3.125rem;
		     column-gap: 3.125rem;
	}

	.md\:gap-x-12 {
		-moz-column-gap: 3rem;
		     column-gap: 3rem;
	}

	.md\:gap-x-5 {
		-moz-column-gap: 1.25rem;
		     column-gap: 1.25rem;
	}

	.md\:gap-y-0 {
		row-gap: 0px;
	}

	.md\:gap-x-0 {
		-moz-column-gap: 0px;
		     column-gap: 0px;
	}

	.md\:gap-x-2\.5 {
		-moz-column-gap: 0.625rem;
		     column-gap: 0.625rem;
	}

	.md\:gap-x-2 {
		-moz-column-gap: 0.5rem;
		     column-gap: 0.5rem;
	}

	.md\:overflow-visible {
		overflow: visible;
	}

	.md\:bg-right-top {
		background-position: right top;
	}

	.md\:px-7\.5 {
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}

	.md\:px-7 {
		padding-left: 1.75rem;
		padding-right: 1.75rem;
	}

	.md\:px-15 {
		padding-left: 3.75rem;
		padding-right: 3.75rem;
	}

	.md\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.md\:py-20 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.md\:py-4 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.md\:pb-20 {
		padding-bottom: 5rem;
	}

	.md\:text-4xl {
		font-size: 2.5rem;
	}

	.md\:text-9xl {
		font-size: 8.75rem;
	}

	.md\:text-7xl {
		font-size: 5rem;
	}

	.md\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.md\:leading-8 {
		line-height: 2rem;
	}

	.md\:leading-28 {
		line-height: 7rem;
	}

	.md\:leading-loose {
		line-height: 2;
	}

	.md\:leading-none {
		line-height: 1;
	}

	.md\:opacity-0 {
		opacity: 0;
	}

	.group:hover .md\:group-hover\:-translate-x-50 {
		--tw-translate-x: -12.5rem;
		transform: var(--tw-transform);
	}
}







@media (min-width: 1024px) {

	.lg\:absolute {
		position: absolute;
	}

	.lg\:right-10 {
		right: 2.5rem;
	}

	.lg\:left-0 {
		left: 0px;
	}

	.lg\:order-none {
		order: 0;
	}

	.lg\:float-right {
		float: right;
	}

	.lg\:h-screen {
		height: 100vh;
	}

	.lg\:h-\[372px\] {
		height: 372px;
	}

	.lg\:w-\[521px\] {
		width: 521px;
	}

	.lg\:w-\[372px\] {
		width: 372px;
	}

	.lg\:w-4\/5 {
		width: 80%;
	}

	.lg\:w-3\/5 {
		width: 60%;
	}

	.lg\:min-w-\[849px\] {
		min-width: 849px;
	}

	.lg\:translate-x-20 {
		--tw-translate-x: 5rem;
		transform: var(--tw-transform);
	}

	.lg\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}

	.lg\:translate-y-0 {
		--tw-translate-y: 0px;
		transform: var(--tw-transform);
	}

	.lg\:translate-x-5 {
		--tw-translate-x: 1.25rem;
		transform: var(--tw-transform);
	}

	.lg\:scale-100 {
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		transform: var(--tw-transform);
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:justify-end {
		justify-content: flex-end;
	}

	.lg\:gap-y-7\.5 {
		row-gap: 1.875rem;
	}

	.lg\:gap-y-7 {
		row-gap: 1.75rem;
	}

	.lg\:bg-contain {
		background-size: contain;
	}

	.lg\:p-0 {
		padding: 0px;
	}

	.lg\:pr-12\.5 {
		padding-right: 3.125rem;
	}

	.lg\:pr-12 {
		padding-right: 3rem;
	}

	.lg\:pr-7\.5 {
		padding-right: 1.875rem;
	}

	.lg\:pr-7 {
		padding-right: 1.75rem;
	}

	.lg\:text-11xl {
		font-size: 11.25rem;
	}

	.lg\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.lg\:leading-36 {
		line-height: 9rem;
	}
}







@media (min-width: 1280px) {

	.xl\:w-1\/2 {
		width: 50%;
	}

	.xl\:w-4\/5 {
		width: 80%;
	}

	.xl\:max-w-\[532px\] {
		max-width: 532px;
	}

	.xl\:max-w-3xl {
		max-width: 48rem;
	}

	.xl\:flex-row {
		flex-direction: row;
	}

	.xl\:justify-start {
		justify-content: flex-start;
	}

	.xl\:justify-end {
		justify-content: flex-end;
	}

	.xl\:gap-x-0 {
		-moz-column-gap: 0px;
		     column-gap: 0px;
	}

	.xl\:pl-25 {
		padding-left: 6.25rem;
	}

	.xl\:pr-15 {
		padding-right: 3.75rem;
	}

	.xl\:pl-15 {
		padding-left: 3.75rem;
	}

	.xl\:text-7xl {
		font-size: 5rem;
	}

	.xl\:leading-16 {
		line-height: 4rem;
	}
}







@media (min-width: 1536px) {

	.\32xl\:ml-30 {
		margin-left: 7.5rem;
	}

	.\32xl\:w-full {
		width: 100%;
	}

	.\32xl\:w-1\/2 {
		width: 50%;
	}

	.\32xl\:max-w-screen-2xl {
		max-width: 1536px;
	}

	.\32xl\:px-25 {
		padding-left: 6.25rem;
		padding-right: 6.25rem;
	}

	.\32xl\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.\32xl\:pl-25 {
		padding-left: 6.25rem;
	}

	.\32xl\:pr-25 {
		padding-right: 6.25rem;
	}

	.\32xl\:pr-0 {
		padding-right: 0px;
	}
}







@media (min-width: 1600px) {

	.\33xl\:m-auto {
		margin: auto;
	}

	.\33xl\:max-w-\[1700px\] {
		max-width: 1700px;
	}

	.\33xl\:translate-x-0 {
		--tw-translate-x: 0px;
		transform: var(--tw-transform);
	}
}
