<div class="theme-mod-2" x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
    {{ partial:components/module_header }}
    <div class="w-full " style="background: #ce5781;"> 
        <div class="px-7.5 m-auto 2xl:px-25 2xl:max-w-screen-2xl">
            {{ partial:components/module_intro bg_remove="true" }}
        </div>
    </div>
    {{ partial:components/stars }}
    <div class="w-full " style="background: linear-gradient(180deg, #190F2B 0%, #3C2F54 100%);">
        {{ partial:components/modules_faqs }}
    </div>        
    {{ partial:components/module_footer }}
    {{ partial:components/footer }}
    {{ partial:components/module_intro_modal }}
</div>