@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


html{scroll-behavior:smooth}

.Brixton_lead{
    font-family: 'Brixton_Lead Vector';
    font-weight: normal;
    font-style: normal;
  
}

.Metropolis {
    font-family: 'Metropolis';
    font-weight: normal;
    font-style: normal;
}



/* NAV */
.nav{
    @apply w-full md:w-auto md:min-w-[700px] lg:min-w-[849px] md:m-auto flex flex-col leading-none text-left text-white font-Brixton_lead gap-y-15 text-4xl md:text-7xl mt-5 md:mt-20;
}
.nav li{
    @apply md:opacity-30;
}


.nav:hover li:hover {
    @apply opacity-100 z-30;

}
.nav li{
    @apply transition duration-500 ease-in-out;
}


/*TIMELINE*/
.timeline li{
    @apply flex w-full pt-25;
}
.timeline li span .date{
    @apply block text-6xl md:text-8xl;
}

.timeline li h2{
    @apply text-4xl md:text-7xl;
}

.timeline li p{
    @apply text-1xs;
}


.timeline li p a{
    @apply text-1xs font-bold;
}

.timeline h3{
    @apply uppercase text-2xxl font-Brixton_lead;
}

.timeline li div div:not(:first-child){
    @apply mt-4;
}
.timeline li:last-child{
    @apply pb-50;
}
.timeline li:nth-child(odd){
    @apply justify-start text-left;
}

.timeline li:nth-child(odd) > div{
    @apply pl-10;
}
.timeline li:nth-child(even){
    @apply justify-start;
}
.timeline li:nth-child(even) > div{
    @apply pl-10 text-left;
}

@screen lg {

    .timeline li:nth-child(odd){
        @apply justify-end text-left;
    }
    .timeline li:nth-child(even) > div{
        @apply text-right pr-10 pl-0;
    }
    .timeline li:nth-child(even) .timeline-btn{
        @apply flex justify-end;
    }
}


/*BUTTONS*/

.theme-text-link{
    @apply duration-500 ease-in-out transform;
}
.btn{
    @apply flex justify-center items-center gap-x-2.5 font-Metropolis text-xxs leading-normal font-bold tracking-widest text-white relative uppercase rounded-full px-7.5 py-4 overflow-hidden transition duration-500 ease-in-out;
}


.btn-fill-effect{
    @apply absolute top-0 left-0 z-0 w-full h-full duration-500 ease-in-out transform translate-y-full;
}
.btn-content{
    @apply relative z-10 text-lg md:text-sm whitespace-nowrap leading-7 font-semibold;
}
.btn svg{
    @apply transition duration-500 ease-in-out;
}


/*BUTTONS WITH BORDERS*/

.btnBorder{
    @apply border;
}
.btnBorder:hover{
    @apply border-white border ;
}
.btnBorder svg{
    @apply fill-current text-white;
}


/*BUTTONS WITH BLACK BG*/
.btnBlack,
.btnBack,
.btnPager{
    @apply bg-black;
}
.btnBlack:hover{
    @apply text-white;
}
.btnBlack svg{
    @apply fill-current;
}
.btnBack:hover svg{
    @apply text-black;
}

/*CIRCLE BUTTONS */

.btnCircle{
    @apply px-0 py-0 rounded-full flex justify-center items-center transition duration-500 ease-in-out;
}
.btnCircle svg{
    @apply fill-current text-white; 
}

/*SOCIAL BUTTONS */

.btnSocial{
    @apply w-15 h-15;
}
.btnSocial svg{
    @apply fill-current text-white; 
}

/*PAGER NUMBERS */

.pager{
    @apply flex items-center justify-center font-Brixton_lead w-10 h-10 text-2xl rounded-full border border-black;
}
.pager.active{
    @apply  bg-black text-white;
}


.btnNextMod{
   @apply w-20 h-20 ;
}
.btnNextMod svg{
   @apply text-black;
}





/*BUTTONS  ANIMATE*/
.btn-animate.btn-primary:hover{
    @apply text-primary;
}
.btn-animate.btn-primary:hover .btn-fill-effect{
    @apply bg-white translate-y-0 transition duration-500;
}



/*TITLES 140px*/

.title-140,
.title-number{
    @apply uppercase text-7xl leading-16 xl:leading-28 xl:text-9xl font-Brixton_lead;
}

/*TITLES 30px*/
.title-30{
    @apply text-2xxl md:text-3xl leading-none text-black font-Brixton_lead;
}


/*PARAGRAPHS*/
.script-text{
    @apply bg-white p-7.5 text-2xl leading-7 font-Caveat;
}





/*COLOUR CHANGES THEME*/


/*MODULE 1*/

    .theme-mod-1 .theme-bg,
    .theme-mod-1 .btnBack:hover{
        @apply bg-turquoise;
    }
    .theme-mod-1 .theme-text,
    .theme-mod-1 .btnBorder:hover,
    .theme-mod-1 .btnBorder:hover svg,
    .theme-mod-1 .theme-text-link:hover,
    .theme-mod-1 .btnBlack:hover svg{
        @apply text-turquoise;
    }    
    .theme-mod-1 .theme-bg-dark,
    .theme-mod-1 .btnBlack:hover,
    .theme-mod-1 .btnSocial:hover,
    .theme-mod-1 .btnPager:hover,
    .theme-mod-1 .btnCircle.theme-bg:hover{
        @apply bg-darkturquoise;
    } 
    .theme-mod-1 .btnBorder{
        @apply border-turquoise;
    }

  

/*MODULE 2*/

    .theme-mod-2 .theme-bg,
    .theme-mod-2 .btnBack:hover{
        @apply bg-pink;
    }
    .theme-mod-2 .theme-text,
    .theme-mod-2 .btnBorder:hover,
    .theme-mod-2 .btnBorder:hover svg,
    .theme-mod-2 .theme-text-link:hover,
    .theme-mod-2 .btnBlack:hover svg{
        @apply text-pink;
    }    
    .theme-mod-2 .theme-bg-dark,
    .theme-mod-2 .btnBlack:hover,
    .theme-mod-2 .btnSocial:hover,
    .theme-mod-2 .btnPager:hover,
    .theme-mod-2 .btnCircle.theme-bg:hover{
        @apply bg-darkpink;
    } 
    .theme-mod-2 .btnBorder{
        @apply border-pink;
    }
 

  

/*MODULE 3*/

.theme-mod-3 .theme-bg,
.theme-mod-3 .btnBack:hover{
    @apply bg-purple;
}
.theme-mod-3 .theme-text,
.theme-mod-3 .btnBorder:hover,
.theme-mod-3 .btnBorder:hover svg,
.theme-mod-3 .theme-text-link:hover,
.theme-mod-3 .btnBlack:hover svg{
    @apply text-purple;
}    
.theme-mod-3 .theme-bg-dark,
.theme-mod-3 .btnBlack:hover,
.theme-mod-3 .btnSocial:hover,
.theme-mod-3 .btnPager:hover,
.theme-mod-3 .btnCircle.theme-bg:hover{
    @apply bg-darkpurple;
} 
.theme-mod-3 .btnBorder{
    @apply border-purple;
}




    /*MAP*/

    .map-marker{
        @apply absolute;
    }
    .map-marker img{
        @apply transition duration-500 ease-in-out;
    }
    .map-marker a{
        @apply w-full h-full;
    }
    .map-tooltip{
        @apply opacity-100 md:opacity-0 transition duration-500 ease-in-out absolute p-2.5 bg-black h-12.5  shadow-2xl;
    }

    .map-tooltip p{
        @apply text-3xl leading-none text-white font-Brixton_lead whitespace-nowrap;
    }

    .contentArea blockquote {
        @apply bg-white p-7.5 text-2xl leading-7 font-Caveat;
    }
    

    .contentArea {

        blockquote {
            @apply bg-white pb-3 p-7.5 text-2xl leading-7 font-Caveat;
            p{
                @apply text-black pb-0 text-2xl leading-7 ;
            }
        }
        p{
            font-size: 1.2rem;
            line-height: 2rem;
            @apply mb-4 ;
        }
        
        
        p a{
            @apply font-bold underline;
        }
    
        h2{
            @apply font-Brixton_lead uppercase text-4xl pt-4 mb-6 ;
        }
    
        h3{
            @apply font-Brixton_lead uppercase text-3xl pt-4 mb-6
        }
    
        ul{
            li{
                @apply flex flex-row;
                &:before{
                    content:"";
                    @apply w-2 h-2 mr-4 rounded-full block mt-2 ;
                }
            }
    
    
        }
    }


    /*MODAL STYLES*/
    [x-cloak] {
			display: none;
		}

		.duration-300 {
			transition-duration: 300ms;
		}

		.ease-in {
			transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
		}

		.ease-out {
			transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}

		.scale-90 {
			transform: scale(.9);
		}

		.scale-100 {
			transform: scale(1);
		}



        #booksBG {
            background-size: contain;
            @media only screen and (max-width:1440px) {
                background-size: cover;
            }
        }


        .bookImg:nth-child(2) {
            background-image: url('/assets/images/placeholders/Book-Beige.png');
            background-size: cover;
        }
        .bookImg:nth-child(3) {
            background-image: url('/assets/images/placeholders/Book-Blue.png');
            background-size: cover;
        }
        .bookImg:nth-child(4) {
            background-image: url('/assets/images/placeholders/Book-Red.png');
            background-size: cover;
        }
        .bookImg:nth-child(5) {
            background-image: url('/assets/images/placeholders/Book-Purple.png');
            background-size: cover;
        }
        .bookImg:nth-child(6) {
            background-image: url('/assets/images/placeholders/Book-Red.png');
            background-size: cover;
        }
        .bookImg:nth-child(7) {
            background-image: url('/assets/images/placeholders/Book-Purple.png');
            background-size: cover;
        }
        .bookImg:nth-child(8) {
            background-image: url('/assets/images/placeholders/Book-Beige.png');
            background-size: cover;
        }
        .bookImg:nth-child(9) {
            background-image: url('/assets/images/placeholders/Book-Blue.png');
            background-size: cover;
        }



.faqContent{
    blockquote {
        @apply bg-white pb-3 p-7.5 text-2xl leading-7 font-Caveat;
        p{
            @apply text-black pb-0 text-2xl leading-7 ;
        }
    }
    p{
        @apply text-base mb-6;
    }
    
    
    p a{
        @apply font-bold;
    }
}

.dialogue-content{
    blockquote {
        @apply bg-white pb-3 p-7.5 text-2xl leading-7 font-Caveat;
        p{
            @apply text-black pb-0 text-2xl leading-7 ;
        }
    }
    p{
        @apply text-base mb-6 text-white;
    }
    
    
    p a{
        @apply text-base font-bold underline;
    }

    h2{
        @apply font-Brixton_lead uppercase text-white text-4xl pt-4 mb-6 ;
    }

    h3{
        @apply font-Brixton_lead uppercase text-white text-3xl pt-4 mb-6
    }

    ul{
        li{
            @apply flex flex-row;
            &:before{
                content:"";
                @apply bg-turquoise w-2 h-2 mr-4 rounded-full block mt-2 ;
            }
        }


    }


}

.modalContent{
    blockquote {
        @apply bg-white pb-3 p-7.5 text-2xl leading-7 font-Caveat;
        p{
            @apply text-black pb-0 text-2xl leading-7 ;
        }
    }
    p{
        @apply text-base mb-6 normal-case font-normal;
    }

    h2{
        @apply font-Brixton_lead uppercase text-white text-4xl pt-4 mb-6 ;
    }

    h3{
        @apply font-Brixton_lead uppercase text-white text-3xl pt-4 mb-6
    }

    p a{
        @apply font-bold underline;
    }
    
    p strong{
        @apply font-bold;
    }
}


blockquote {
    @apply bg-white pb-3 p-7.5 text-2xl mb-5 leading-7 font-Caveat;
    p{
        @apply text-black pb-0 text-2xl leading-7 ;
    }
}

.notes {
    font-size: 0.9rem;
    line-height: 1.5rem;
    overflow: hidden;
    @apply bg-white pb-3 p-7.5  mb-5 ;
    p{
        font-size: 0.9rem;
        line-height: 1.5rem;
        @apply text-black pb-0  ;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    margin: 3rem 0;
  
    &.paused-state {
      .play {
        display: flex;
      }
    }
    &.square_video{
      padding-bottom: 100%;
      margin: 0;
    }
    &.not-full-width{
      margin: 3rem 0;
    }
  }
  
  .video-container iframe,
  .video-container object,
  .video-container video,
  .video-container embed {
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
  }
  
  video{
    width: 100%;
  }

@tailwind utilities;

